{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Smartsheet OpenAPI Reference",
    "description" : "Welcome to the OpenAPI reference documentation for the Smartsheet API!\n\n> **IMPORTANT:**\n> * The Smartsheet API is restricted to users on Business and Enterprise plans\n> * The <a href=\"https://www.smartsheet.com/legal/developer-program-agreement\" target=\"_blank\" rel=\"noopener noreferrer\">Developer Agreement</a> governs the use of the Smartsheet API and Smartsheet software development kits (SDKs)\n\n**QUICKLINKS**\n\n- **Base URL:**\n\n    ```\n    https://api.smartsheet.com/2.0/\n    ```\n\n- **Getting started:** <a href=\"https://help.smartsheet.com/articles/2482389-generate-API-key\" target=\"_blank\" rel=\"noopener noreferrer\">Generate an API access token</a> and [make a request](/api/smartsheet/guides/getting-started).\n\n- **Changelog:** See the latest [API updates](/api/smartsheet/changelog).\n\n- **Schemas:** View the [object schemas](/api/smartsheet/openapi/schemas) not explicitly listed in the resource sections.\n\n- **Error codes:** Look up common API [error codes](/api/smartsheet/error-codes).\n\n- **Guides:** Learn various ways of using the API with the help of our [Guides](/api/smartsheet/introduction).\n\nBrowse the Smartsheet API operations by resource on the left and start building with the Smartsheet API!\n",
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://api.smartsheet.com/2.0"
  }, {
    "url" : "https://api.smartsheet.eu/2.0"
  }, {
    "url" : "https://api.smartsheet.au/2.0"
  } ],
  "tags" : [ {
    "name" : "alternateEmailAddress",
    "description" : "A User in Smartsheet must have a primary email address associated with their user account (User.email) and may optionally have one or more alternate email addresses associated with their account (User.alternateEmails). The following operations must be performed using an user's primary email address:\n\n* Add Group Members\n* Add User\n* Create Update Request\n* Share Report\n* Share Sheet\n* Share Workspace\n\nAttempting to specify a user's alternate email address for any of the above operations results in an error.\n",
    "x-displayName" : "Alternate Email addresses"
  }, {
    "name" : "attachments",
    "description" : "Attachments can exist on a [comment](/api/smartsheet/openapi/comments) (that is,\nwithin a discussion), on a [row](/api/smartsheet/openapi/rows), or on a\n[sheet](/api/smartsheet/openapi/sheets).\n\n<h2>Post an Attachment</h2>\n\nLike the Smartsheet app, the Smartsheet API allows uploading files to\nsheets, rows, and comments.\n\nYou can upload a file by performing either a simple upload or a multipart\nupload.\n\n\nA simple upload allows you\nto add a single file attachment to the specified object.\n\nFor example, you can perform a simple upload to attach a file to a\nsheet, [attach a\nfile to a row](/api/smartsheet/openapi/attachments/row-attachments-attachfile), or\n[attach a file to a\ncomment](/api/smartsheet/openapi/attachments/attachments-attachtocomment).\n\n\nA multipart upload\nallows you to add a single file attachment to the specified object (that\nis, attach a file to a sheet, row, or comment), or to create an object and\nattach a file using a single request.\n\nFor example, you can perform a multipart upload to [add a new\ncomment](/api/smartsheet/openapi/comments/comments-create) that contains a single\nfile attachment or to [add a new discussion to a\nsheet](/api/smartsheet/openapi/discussions/discussions-create) that contains a\nsingle file attachment.\n\n\nThe max file size for uploads through the API is limited to 30mb.\n\n\nNOTE: This is a resource-intensive operation. If you encounter an error,\nsee [Rate Limiting](/api/smartsheet/guides/advanced-topics/scalability-options).\n\n\n<h3>Multipart Uploads</h3>\n\n\nA multipart upload request must include the following HTTP headers:\n\n\n| Header | Description |\n| -----|-----|\n| **Content-Length** | The length of the request payload. |\n| **Content-Type** | Must be set to **multipart/form-data**, and include the\nboundary string that separates the parts in the request payload. |\n\n\nThe request body of a multipart upload request contains one or more parts,\neach part containing either JSON or a file to upload.\n\nThe request body must contain at least one part.\n\nEach part must start with the boundary string specified in the\n**Content-Type** request header, and must contain the following part\nheaders:\n\n\n| Header | Description |\n| -----|-----|\n| **Content-Disposition** | Contains the following semicolon-delimited items:<ul><li>**form-data**</li><li>**name=\"*partname*\"**</li><li>**filename=\"*filename*\"** (only required for file parts)</li></ul>NOTE: Values specified in the Content-Disposition header must be URL-encoded. |\n| **Content-Type** | The content type of the part: **application/json** for JSON objects, or the applicable MIME type for file parts |\n\n\nThe last part in the request must be followed by the boundary string,\nfollowed by two hyphens.\n\n\nThe documentation for each operation that supports multipart uploads\nspecifies the number and names of parts that are expected for the\noperation.\n\nFile parts must have the part name \"file\", and documentation for\noperations which allow for JSON object parts specify the required part\nname for the JSON part.\n\n\nThe following example shows a multipart upload request that creates a\ncomment containing the specified text and file attachment:\n\n\n`POST\nhttps://api.smartsheet.com/2.0/sheets/4509093797881732/discussions/2889925487028100/comments`\n\n`Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789`\n\n`Content-Length: 29008`\n\n`Content-Type: multipart/form-data; boundary=----gU8h01zAAp3LagBr`\n\n\n`------gU8h01zAAp3LagBr`\n\n`Content-Disposition: form-data; name=\"comment\"`\n\n`Content-Type: application/json`\n\n\n`{ \"text\": \"Please review the attached image.\" }`\n\n`------gU8h01zAAp3LagBr`\n\n`Content-Disposition: form-data; name=\"file\"; filename=\"picture.jpg\"`\n\n`Content-Type: image/jpeg`\n\n\n*< Binary content for file >*\n\n`------gU8h01zAAp3LagBr--`\n\n\nNOTE: Most programming languages have libraries that can be used to\nassemble multipart requests.\n\n\n<h3>Simple Uploads</h3>\n\n\nTo perform this kind of upload, you must set specific headers to tell\nSmartsheet about the file. The following three headers are required:\n\n\nHeader | Description |\n-----|-----|\n**Content-Disposition** | **attachment** to tell the API that a file is in the body of the `POST` request, followed by a semicolon, followed by **filename=** and the URL-encoded filename in quotes\n**Content-Length** | Must be set to the size of the file, in bytes. For example to determine file size using in UNIX: <p>`$ ls -l ProgressReport.docx`<br/>`5463 ProgressReport.docx`</p>\n**Content-Type** | Can be left blank if it is not known (but must be present); Smartsheet makes its best guess based on the extension of the file.\n\n\nThe following example request shows a simple upload that adds a file\nattachment to a sheet:\n\n\n`POST https://api.smartsheet.com/2.0/sheets/4509093797881732/attachments`\n\n`Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789`\n\n`Content-Disposition: attachment; filename=\"ProgressReport.docx\"`\n\n`Content-Type: application/msword`\n\n`Content-Length: 5463`\n\n\n*< Binary content for file >*\n\n\nAs shown in this example, the contents of the file is included in the body\nof the `POST` request. In most programming languages, this is done by\nreading the file from an input stream and writing it out to the output\nstream of the HTTP request.\n",
    "x-displayName" : "Attachments"
  }, {
    "name" : "automationRules",
    "description" : "Automation is a catch-all term for approvals, notifications, and update\nrequests. You can delete, update, or retrieve various automation settings\nthrough the API. You cannot create new automation rules programmatically.\n\n<h2>Disabled Reasons for Automation Rules</h2>\n\nReason | Description |\n-----|-----|\n**APPROVAL_COLUMN_MISSING** | This rule's approval status column has been deleted.\n**APPROVAL_COLUMN_WRONG_TYPE** | The approval column must be a dropdown column.\n**AUTOMATION_NOT_ENABLED_FOR_ORG** | To create or edit automated actions, you need to upgrade your organization account to a Business or Enterprise plan.\n**COLUMN_MISSING** | A column referenced by this rule has been deleted.\n**COLUMN_TYPE_INCOMPATIBLE** | A column referenced by this rule has been changed to an incompatible column type.\n**NO_POTENTIAL_RECIPIENTS** | This rule has no recipients that will be able to receive notifications based on this sheet's permission settings or this account's approved domain sharing list.\n**NO_VALID_SELECTED_COLUMNS** | All selected columns for this rule have been deleted.\n",
    "x-displayName" : "Automation Rules"
  }, {
    "name" : "cellImages",
    "description" : "A cell image is an image that has been uploaded to a cell within a sheet.\n",
    "x-displayName" : "Cell Images"
  }, {
    "name" : "cells",
    "description" : "A collection of cells comprises each row in a sheet.\n\n<h2>Cell Links</h2>\n\nCreating or updating cell links via the **cell.linkInFromCell** attribute is a special operation.\nA given row or cell update operation may contain only link updates, or no link updates.\nAttempting to mix row/cell updates with cell link updates results in error code 1115.\nAdditionally, a [CellLink object](/api/smartsheet/openapi/schemas/celllink) can only be added to an existing cell, so the **cell.linkInFromCell** attribute is not allowed when POSTing a new row to a sheet.\n\nWhen creating a cell link, **cell.value** must be null (the data is pulled from the linked cell).\n\nA cell may not contain both a hyperlink and a cell link, so **hyperlink** and **linkInFromCell** may never both be non-null at the same time.\n\n<h2>Cell Reference</h2>\n\n<h3>Cell Value Representation</h3>\n\n[Cell objects](/api/smartsheet/openapi/cells/cell) retrieved through the Smartsheet APIs have two main attributes representing cell values: **Cell.value**, and\n**Cell.displayValue**. A third attribute, **Cell.objectValue** is currently used only for adding and updating predecessors, or for multi-contact or multi-picklist details, such as email addresses or values in a multi-picklist. An empty cell returns no value.\n\n**Cell.displayValue** is always a string and is only returned for certain column types (see below).  It represents the formatted value as it should\nbe displayed to an end-user.  For example, if a TEXT_NUMBER column is formatted as a US Dollar currency, its **value** may be a number\nlike 1234.5678, but its **displayValue** is \"$1,234.57\".\n\n**Cell.value** represents a cell's raw value and can be one of the following primitive JSON types: string, number, or Boolean,\ndepending on the column type.  An empty cell returns no value. Complex types are represented as strings, formatted as described below:\n\n<a href=\"https://help.smartsheet.com/articles/765737-project-sheet-columns-start-date-end-date-duration-complete-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help with Project Columns</a>\n\nColumn Type | Possible Types for Cell.value | Returns Cell.displayValue?\n------------|-------------------------------|---------------------------\nABSTRACT_DATETIME | string: a project date and time in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO-8601</a> format, or a free-form text value.<br/>number: see [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for how to request dates to be returned as numbers. | No.\nCHECKBOX | Boolean: **true** if the checkbox is checked, **false** if unchecked, no value if the cell hasn't been touched yet.<br/>string: a free-form text value. | No.\nCONTACT_LIST | string: an email address representing a contact, or a free-form text value. | Yes: same as **value** for free-form strings; for contacts, the contact's name if any, else their email address.\nDATE | string: a date in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO-8601</a> format, or a free-form text value.<br/>number: see [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for how to request dates to be returned as numbers. | No.\nDURATION | string: a duration value such as \"4d 6h 30m\" in the user's locale, or a free-form text value.<br/>See the <a href=\"https://help.smartsheet.com/articles/765727-enabling-dependencies-using-predecessors#toc-duration-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help Center</a> for more information on durations. | Yes: same as **value**\nMULTI_CONTACT_LIST | string: only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying, otherwise the column type is TEXT_NUMBER. | Yes: same as **value**; to see actual email addresses, see below.\nMULTI_PICKLIST | string: only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying, otherwise the column type is TEXT_NUMBER. | Yes: same as **value**; to see objectValue, see below.\nPICKLIST | string: one of the picklist's column options, or a free-form text value.<br/>number: numeric values | Yes: same as **value** for strings; for number values, the number with formatting applied.\nPREDECESSOR\t| string: a comma-delimited predecessor list such as \"12FS +3d 4h, 14SS\", or a free-form text value.<br/>See the <a href=\"https://help.smartsheet.com/articles/765727-enabling-dependencies-using-predecessors#toc-duration-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help Center</a> for more information on predecessors. | Yes: same as **value**\nTEXT_NUMBER\t| string: free-form text values<br/>number: numeric values | Yes: same as **value** for strings; for number values, the number with formatting applied.\n\n**Cell.objectValue** is an object representation of a cell's value and is currently used for adding or updating predecessor cell values, or for multi-contact details, such as email addresses.\n\n* For predecessors, it provides a more \"programmer friendly\" format for assembling predecessors. To update a cell's predecessors, set **objectValue** to a\n[PredecessorList object](/api/smartsheet/openapi/schemas/predecessorlist) containing [Predecessor objects](/api/smartsheet/openapi/schemas/predecessor).\n* For multi-contact or multi-picklist details, use both a level query parameter *and* an **include=objectValue** query to see email addresses rather than display names or to see multi-picklist values.\n\n<h3>Cell Value Parsing</h3>\n\nThe flexibility in cell value data types is a powerful feature in the Smartsheet application; however, it poses a challenge\nfor an API in terms of parsing. Being too flexible might result in unexpected behavior. For instance, if you write code\nto post a Date value to a Smartsheet and the API operation succeeds, you might assume that the date value you sent was interpreted\nas date. What happens if you posted your date in the wrong format? Do you really want Smartsheet to keep the malformed date\nas a string value? Probably not.\n\nTo address this problem, the Smartsheet API employs a simple scheme to indicate whether you want a more predictable and strict\ninterface or a more flexible one. By default, a cell value is expected to conform to \"strict\" rules for the type of the cell's column.\nIf an input value doesn't conform, the API returns [error code 1042](/api/smartsheet/error-codes).\n\nIf, however, you want the same flexibility as the Smartsheet Web app, you can disable the strict rules, and we'll do our best to make\nsense of it. To enable lenient parsing simply include **\"strict\": false** in the [Cell object](/api/smartsheet/openapi/cells/cell) in your request body.\n\nNOTE: How does strict cell value parsing compare to cell validation settings? Strict cell value parsing determines how string values are parsed. It is set on a per-call basis. In contrast, cell validation is part of the column definition. The <b>overrideValidation</b> property is restricted to sheet admins and does <i>not</i> override strict parsing.\n\nThe parsing rules for the various column types are as follows:\n\n**ABSTRACT_DATETIME**\n\nValue | Description |\n-----|-----|\n**lenient** | Smartsheet attempts to convert the string value to date using ISO 8601 date format, as well as several locale-specific date formats. If the value is a parsable date format, Smartsheet recognizes the date and stores it as such. All other values are simply text values.\n**strict** | The value must be a string value and a valid ISO 8601 date (YYYY-MM-DD). Alternatively, if Unix time (also known as epoch time) is used, you can use the query parameter of **numericDates** set to **true** to have Smartsheet convert epoch time to human readable dates. See [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for more information.\n\n**CHECKBOX**\n\nValue | Description |\n-----|-----|\n**lenient** | Boolean values and string values of **true** and **false** are handled the same as **strict**. All other values are saved as text values.\n**strict** | Only Boolean values (true or false) are valid.\n\n**CONTACT_LIST**\n\nValue | Description |\n-----|-----|\n**lenient** | If the value is a valid email address, Smartsheet handles it the same as **strict**. If not, Smartsheet saves the value as a text value.\n**strict** | The value must be a valid email address. If **displayValue** is set, Smartsheet uses that as the name; otherwise, if Smartsheet finds a match among the the access token owner's contacts, Smartsheet associates this cell with that existing contact.\n\nNOTE: See the [Contact List Columns](/api/smartsheet/openapi/cells) section for more information.\n\n**DATE**\n\nValue | Description |\n-----|-----|\n**lenient** | Smartsheet attempts to convert the string value to date using ISO 8601 date format, as well as several locale-specific date formats. If the value is a parsable date format, Smartsheet recognizes the date and stores it as such. All other values are simply text values.\n**strict** | The value must be a string value and a valid ISO 8601 date (YYYY-MM-DD). Alternatively, if Unix time (also known as epoch time) is used, you can use the query parameter of **numericDates** set to **true** to have Smartsheet convert epoch time to human readable dates. See [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for more information.\n\n**DURATION**\n\nValue | Description |\n-----|-----|\n**lenient** | Numeric values are treated as duration values in days. String values which are valid duration strings in the user's locale are treated as durations, and any other values are treated as free-form text values.\n**strict** | Only valid duration strings in the user's locale are valid. Information on duration strings can be found in the <a href=\"https://help.smartsheet.com/articles/765727-enabling-dependencies-using-predecessors#toc-duration-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help Center</a>.\n\nNOTE: You may use the query string parameter <b>projectParseLocale</b> with a [supported locale string](/api/smartsheet/openapi/serverinfo) to force parsing in the specified locale (for example, using <b>en_US</b> lets you send in English values regardless of the user's locale).\n\n**MULTI_CONTACT_LIST**\n\nValue | Description |\n-----|-----|\nN/A | Set using the **objectValue** attribute for the Cell object, which is inherently strict. See [Cell Reference](/api/smartsheet/openapi/cells).\n\n**MULTI_PICKLIST**\n\nValue | Description |\n-----|-----|\nN/A | Set using the **objectValue** attribute for the Cell object, which is inherently strict. See [Cell Reference](/api/smartsheet/openapi/cells).\n\n**PICKLIST**\n\nValue | Description |\n-----|-----|\n**lenient** | All numeric and text values are valid. Formatted numbers are parsed like TEXT_NUMBER formatted numbers.\n**strict** | The value must be a string and must be one of the options for the picklist.\n\n**PREDECESSOR**\n\nValue | Description |\n-----|-----|\nN/A | Set using the **objectValue** attribute for the Cell object, which is inherently strict. See [Cell Reference](/api/smartsheet/openapi/cells).\n\n**TEXT_NUMBER**\n\nValue | Description |\n-----|-----|\n**lenient** | All numeric and text values are valid. Formatted numbers passed as text values, such as currencies (\"$5,000\"), percentages (\"50%\"), or decimals (\"100.5\") are parsed to their numeric equivalents, based on the locale of the access token owner,  with the proper formatting enabled for the cell.\n**strict** | All numeric and text values are valid and are interpreted literally.\n\nNOTE: The Smartsheet application only supports numeric values in the range -9007199254740992 to 9007199254740992. If using strict parsing, any numeric value outside that range results in [error code 1148](/api/smartsheet/error-codes). If using lenient parsing, the value is silently converted to text.\n\n<h3>Contact List Columns</h3>\n\nWith columns of type **CONTACT_LIST**, the cell attributes **value** and **displayValue** are treated independently.\nThe contact's email address is represented by **value**, while the contact's name (and the value displayed in the cell in the Smartsheet app) is represented by **displayValue**.\n\nWhen creating or updating cells for a contact list column, the **displayValue** attribute works as follows:\n\n* If **displayValue** is non-null and non-empty, the Smartsheet cell displays the value provided.\n* If **displayValue** is an empty string, the Smartsheet cell displays the email address.\n* If **displayValue** is null or absent, Smartsheet makes a best guess effort at filling it in with a contact's name based on the email address.\n\n<h2>Hyperlinks</h2>\n\nYou can create and modify [hyperlinks](/api/smartsheet/openapi/schemas/hyperlink) by using any API operation that creates or updates cell data.\nWhen creating or updating a hyperlink, **cell.value** may be set to a string value or null.\nIf null, the cell's value is derived from the hyperlink:\n\n* If the hyperlink is a URL link, the cell's value is set to the URL itself.\n* If the hyperlink is a dashboard, report, or sheet link, the cell's value is set to the dashboard, report, or sheet name.\n\n<h3>Images in Cells</h3>\n\nFor details about working with images in cells, see [Cell Images](/api/smartsheet/openapi/cellimages).\n",
    "x-displayName" : "Cells"
  }, {
    "name" : "columns",
    "description" : "A column is a component of a sheet or report.\n\n<h2>Column Types</h2>\n\nSmartsheet supports the following standard column types, which are represented in a [Column object](/api/smartsheet/openapi/columns/column) with a **type** attribute set to one of the following:\n\nColumn Type | Column.type Value | Notes |\n---|---|---|\nCheckbox \t\t| **CHECKBOX**\t\t| Checkbox, star, and flag types |\nContact List\t| **CONTACT_LIST**\t| List containing contacts or roles for a project. **NOTE:** You can use the [contactOptions](/api/smartsheet/openapi/schemas/contactoption) property to specify a pre-defined list of values for the column, which can also become lanes in card view. |\nContact List | **MULTI_CONTACT_LIST** | List where single cells can contain more than one contact. Only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying. To see email addresses behind the display names, combine an **include=objectValue** query parameter with a **level** query parameter. |\nDate\t\t\t| **DATE** |   |\nDate/Time \t\t| **ABSTRACT_DATETIME** | Represents a project sheet's start and end dates.<br/>**Only for dependency-enabled project sheets**<br/>The API does not support setting a column to this type. (This can only be done through the Smartsheet Web app when configuring a project sheet.) Additionally, the API does not support updating data in the \"End Date\" column under any circumstance, and does not support updating data in the \"Start Date\" column if \"Predecessor\" is set for that row. |\nDate/Time\t\t| **DATETIME**\t| Used only by the following system-generated columns: <ul><li>Created (Date) (**Column.systemColumnType** = **CREATED_DATE**)</li><li>Modified (Date) (**Column.systemColumnType** = **MODIFIED_DATE**)</li></ul> |\nDropdown List\t| **PICKLIST**\t| Custom, RYG, Harvey ball, priority types, etc. |\nDropdown List\t| **MULTI_PICKLIST**\t| List where single cells can contain more than one dropdown item. Only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying. To see multi-picklist values behind the display names, combine an **include=objectValue** query parameter with a **level** query parameter. |\nDuration\t\t| **DURATION**\t\t| **Only for dependency-enabled project sheets**<br/>The API does not support setting a column to this type. (This can only be done through the Smartsheet Web app when configuring a project sheet.) |\nPredecessor\t\t| **PREDECESSOR**\t| Defines what must happen first in a project flow. For more information, see the [Predecessor object](/api/smartsheet/openapi/schemas/predecessorlist). **Only for dependency-enabled project sheets** |\nText/Number\t\t| **TEXT_NUMBER**\t|   |\n\nNOTE: See the [Cell Reference](/api/smartsheet/openapi/cells) section for information on getting and setting cell values for the different column types.\n\n<h3>Symbol Columns</h3>\n\nIn addition to the basic column types above, the Smartsheet app also supports columns that display symbols. These are specialized columns of type **CHECKBOX** or **PICKLIST**,\nwhose **symbol** attribute is set to one of the values below:\n\n**Symbols for CHECKBOX columns:**\n\n![A flag symbol](./images/img_pl_flagc.png)\n\nValue | Example |\n-----|-----|\n**FLAG** | <img src=\"./images/img_pl_flagc.png\" alt=\"A flag symbol\" /> |\n**STAR** | <img src=\"./images/img_pl_starc.png\" alt=\"A star symbol\" /> |\n\n**Symbols for PICKLIST columns:**\n\nValue | Example |\n-----|-----|\n**ARROWS_3_WAY** | <img src=\"./images/img_pl_arrows3.png\" alt=\"An arrows_3_way symbol\" /> |\n**ARROWS_4_WAY** | <img src=\"./images/img_pl_arrows4.png\" alt=\"An arrows_4_way symbol\" /> |\n**ARROWS_5_WAY** | <img src=\"./images/img_pl_arrows5.png\" alt=\"An arrows_5_way symbol\" /> |\n**DECISION_SHAPES** | <img src=\"./images/img_pl_decisionshapes.png\" alt=\"A decision_shapes symbol\" /> |\n**DECISION_SYMBOLS** | <img src=\"./images/img_pl_decisionsymbols.png\" alt=\"A decision_symbols symbol\" /> |\n**DIRECTIONS_3_WAY** | <img src=\"./images/img_pl_directions3.png\" alt=\"A directions_3_way symbol\" /> |\n**DIRECTIONS_4_WAY** | <img src=\"./images/img_pl_directions4.png\" alt=\"A directions_4_way symbol\" /> |\n**EFFORT** | <img src=\"./images/img_pl_effort6Three.png\" alt=\"An effort symbol\" /> |\n**HARVEY_BALLS** | <img src=\"./images/img_pl_harvey5.png\" alt=\"A harvey_balls symbol\" /> |\n**HEARTS** | <img src=\"./images/img_pl_heart6Three.png\" alt=\"A hearts symbol\" /> |\n**MONEY** | <img src=\"./images/img_pl_money6Three.png\" alt=\"A money symbol\" /> |\n**PAIN** | <img src=\"./images/img_pl_pain6.png\" alt=\"A pain symbol\" /> |\n**PRIORITY** | <img src=\"./images/img_pl_priority.png\" alt=\"A priority symbol\" /> |\n**PRIORITY_HML** | <img src=\"./images/img_pl_priorityhml.png\" alt=\"A priority_hml symbol\" /> |\n**PROGRESS** | <img src=\"./images/img_pl_progress5Half.png\" alt=\"A progress symbol\" /> |\n**RYG** | <img src=\"./images/img_pl_ryg.png\" alt=\"An RYG symbol\" /> |\n**RYGB** | <img src=\"./images/img_pl_rygb.png\" alt=\"An RYGB symbol\" /> |\n**RYGG** | <img src=\"./images/img_pl_rygg.png\" alt=\"An RYGG symbol\" /> |\n**SIGNAL** | <img src=\"./images/img_pl_signal5.png\" alt=\"A signal symbol\" /> |\n**SKI** | <img src=\"./images/img_pl_difficulty4.png\" alt=\"A ski symbol\" /> |\n**STAR_RATING** | <img src=\"./images/img_pl_star6Three.png\" alt=\"A star_rating symbol\" />\n**VCR** | <img src=\"./images/img_pl_decisionvcr.png\" alt=\"A VCR symbol\" /> |\n**WEATHER** | <img src=\"./images/img_pl_weather5.png\" alt=\"A weather symbol\" /> |\n\nNOTE: The Smartsheet grid user interface presents several row attributes and features visually as columns, for example, attachments, discussions, row action indicator, or row number.  The API does not consider these to be columns, and does not return or otherwise expose them as columns.  The only columns returned by the API are user data columns.\n\n<h3>System Columns</h3>\n\nIn addition to the standard column types and symbols, Smartsheet has a number of system columns, which represent data that is\nfilled in by Smartsheet and whose values cannot be changed by the user. These columns are represented with standard\n[column types](/api/smartsheet/openapi/columns), with the [**Column.systemColumnType**](/api/smartsheet/openapi/columns/column) attribute set to one of the following:\n\nColumn.systemColumnType Value | Column Type | Notes\n-----|-----|-----|\n**AUTO_NUMBER** | TEXT_NUMBER | Columns of this system column type include an [AutoNumberFormat object](/api/smartsheet/openapi/schemas/autonumberformat) that describes the mask used to generate the value.\n**CREATED_BY**  | CONTACT_LIST\n**CREATED_DATE** | DATETIME\n**MODIFIED_BY** | CONTACT_LIST\n**MODIFIED_DATE** | DATETIME\n",
    "x-displayName" : "Columns"
  }, {
    "name" : "comments",
    "description" : "A discussion is a container for a number of individual comments in a\nthreaded conversation. For more details, see the\n[Discussion](/api/smartsheet/openapi/discussions) section.\n\n\nThis section describes operations on an *individual* comment within a\ndiscussion thread.\n\n\n* To retrieve all discussions and comments for an entire sheet, use [List\nDiscussions](/api/smartsheet/openapi/discussions/discussions-list) with the query\nparameter **include=comments**.\n\n* To retrieve all discussions and comments associated with a row, use\n[List Row Discussions](/api/smartsheet/openapi/discussions/row-discussions-list)\nwith the query parameter **include=comments**.\n\nA comment can contain one or more attachments.\n\n\n<h2>Comment Attachments</h2>\n\n\nFor details about working with a comment's attachments, see\n[Attachments](/api/smartsheet/openapi/attachments).\n",
    "x-displayName" : "Comments"
  }, {
    "name" : "contacts",
    "description" : "A contact is a user's personal contact in Smartsheet (as described in the Help Center article, <a href=\"https://help.smartsheet.com/articles/796143-managing-contacts\" target=\"_blank\" rel=\"noopener noreferrer\">Managing Contacts</a>.\n",
    "x-displayName" : "Contacts"
  }, {
    "name" : "crossSheetReferences",
    "description" : "To create a formula that references data in another sheet, you must first create a cross-sheet\nreference between the detail sheet and the source sheet. That reference must also define the cell range.\nOnce you have created the cross-sheet reference, you can use the reference name in any formula on the detail sheet.\nTo create the formula, use Add Rows or Update Rows. Cross-sheet references that are not used by any formula are\nautomatically deleted after two hours.\n",
    "x-displayName" : "Cross-sheet References"
  }, {
    "name" : "dashboards",
    "description" : "Smartsheet dashboards are a collection of widgets that can contain data from a variety of different data sources (for example, sheets, reports, or custom data). Dashboards were once called Sights(TM) and this name is still present in object names, endpoint paths, and other places.\n",
    "x-displayName" : "Dashboards"
  }, {
    "name" : "discussions",
    "description" : "A discussion is a container for a collection of individual [comments](/api/smartsheet/openapi/comments) within a single thread. A discussion can exist on a [row](/api/smartsheet/openapi/rows) or a [sheet](/api/smartsheet/openapi/sheets).\n\nIn the UI, Smartsheet creates a discussion to contain each top-level comment and subsequent replies into a single thread.\n\nUsing the API, you can only add a comment to a discussion. If the discussion doesn't already exist, you must create it first.\nA discussion is a collection of one or more comments, each of which may contain attachments.\n\n<h2>Discussion Attachments</h2>\n\nFor details about working with the attachments within a discussion, see [Attachments](/api/smartsheet/openapi/attachments).\n<h2>Discussion Comments</h2>\n\nFor details about working with a discussion's comments, see [Comments](/api/smartsheet/openapi/comments).\n",
    "x-displayName" : "Discussions"
  }, {
    "name" : "events",
    "description" : "Smartsheet uses event objects to capture actions such as creating, updating, loading, deleting, and more for items such as sheets, reports, dashboards, attachments, and users. With **Event Reporting**, you can use the operations described here to programmatically retrieve these events.\n\n> **NOTE:** Event Reporting is a premium add-on available for Enterprise and Advanced Work Management plans only. For details on the add-on, please contact our <a href=\"https://www.smartsheet.com/contact/sales\" target=\"_blank\" rel=\"noopener noreferrer\">Sales Team</a>.\n\n<h2>Event types</h2>\n\nAll events derive from the [Event](/api/smartsheet/openapi/events/event) schema. Each event type overrides Event's `objectType` and `action` properties with its specific object type and a typical action performed on that object. Furthermore, each event type's `additionalDetails` object has properties specific to the event type.\n\nSee [Event types](/api/smartsheet/event-types.md) for the complete event listing, details, and example objects.\n\n<h2>System users</h2>\n\nSystem components perform some actions in Smartsheet. Therefore,\nthe `userId` property in some response payloads refers to a system user--not to a regular user. For example, the Smartsheet Events API shows\n5629504736520068 as the `userId` when an anonymous user accesses a sheet\nthat is published for anyone.\n\nThe system users are listed below. New system `userIds` may be\nincorporated to this list as new features and subsystems are incorporated\nto Smartsheet:\n\nSystem user | Description |\n-----|-----|\n1688855062570884 | Data accessed/modified by Skype action (only possible if Smartsheet account is connected to Skype) |\n2814754969413508 | Data accessed/modified by Trello import action (only possible if Smartsheet account is connected to Trello) |\n3377704922834820 | Data accessed/modified due to Smartsheet cell-link |\n3940654876256132 | Data accessed/modified by the Smartsheet Automation system |\n5066554783098756 | Access to object published to any user in the Smartsheet organization account |\n5629504736520068 | Access to Smartsheet object published to anyone |\n6192454689941380 | Data accessed/modified by the Smartsheet Notification system |\n7881304550205316 | Data accessed/modified by Smartsheet Form submission |\n",
    "x-displayName" : "Events"
  }, {
    "name" : "favorites",
    "description" : "Smartsheet allows users to \"star\" dashboards, folders, reports, sheets, workspaces, and other objects on their Home tab to mark them as favorites.\nThese API operations allow you to access the user's favorite API-supported objects, as well as create and delete favorites.\nNOTE: For documentation purposes, \"favoriteType\" is a placeholder ENUM for the various types of UI elements you can flag as a favorite. In sample code, when you see \"{favoriteType}\", just replace it with one of the following values:\n* dashboard or dashboards (aka Sight or Sights)\n* folder or folders\n* report or reports\n* sheet or sheets\n* template or templates\n* workspace or workspaces\n",
    "x-displayName" : "Favorites"
  }, {
    "name" : "folders",
    "description" : "A folder can exist in a user's **Sheets** folder [Home](/api/smartsheet/openapi/home), in a [folder](/api/smartsheet/openapi/folders), or in a [workspace](/api/smartsheet/openapi/workspaces).\n",
    "x-displayName" : "Folders"
  }, {
    "name" : "groupMembers",
    "description" : "A group member is a user that belongs to a [group](/api/smartsheet/openapi/groups).\n",
    "x-displayName" : "Group Members"
  }, {
    "name" : "groups",
    "description" : "A group is a collection of [group members](/api/smartsheet/openapi/groupmembers).\n",
    "x-displayName" : "Groups"
  }, {
    "name" : "home",
    "description" : "In the Smartsheet UI, the \"Home\" tab shows all objects a user has access to, including dashboards (also called Sights in the API), folders, reports, sheets, templates, and workspaces.\n> **NOTE:** The GET /home endpoint is deprecated. Use GET /folders/personal to get shared items and GET /workspaces/ to get workspaces.\n<h2>Home Folders</h2>\n\nFor details about working with folders in the user's **Sheets** folder (that is, at the Home level), see [Folders](/api/smartsheet/openapi/folders).\n\n<h2>Home Sheets</h2>\n\nFor details about working with sheets in the user's **Sheets** folder (that is, at the Home level), see [Sheets](/api/smartsheet/openapi/sheets).\n",
    "x-displayName" : "Home"
  }, {
    "name" : "imports",
    "description" : "Import CSV or XLSX data into a new sheet.\n",
    "x-displayName" : "Imports"
  }, {
    "name" : "proofs",
    "description" : "A proof is a container that holds attachments and comments. Limited to one proof and its versions per row.\nA sheet can have multiple proofs.\n",
    "x-displayName" : "Proofs"
  }, {
    "name" : "reports",
    "description" : "A report is a filtered view of the data from one or more sheets. Like a sheet, a report is comprised of columns, rows, and cells, and may optionally contain attachments and discussions.\nA report is comprised of columns, rows, and cells, and may optionally contain attachments and discussions.\n\n<h2>Report Attachments</h2>\n\nFor details about working with a report's attachments, see [Attachments](/api/smartsheet/openapi/attachments).\n\n<h2>Report Cells</h2>\n\nFor details about working with a report's cells, see [Cells](/api/smartsheet/openapi/cells).\n\n<h2>Report Columns</h2>\n\nFor details about working with a report's columns, see [Columns](/api/smartsheet/openapi/columns).\n\n<h2>Report Discussions</h2>\n\nFor details about working with a report's discussions, see [Discussions](/api/smartsheet/openapi/discussions).\n\n<h2>Report Rows</h2>\n\nFor details about working with a report's rows, see [Rows](/api/smartsheet/openapi/rows).\n",
    "x-displayName" : "Reports"
  }, {
    "name" : "rows",
    "description" : "A row is a component of a sheet or report. Each row is composed of a\ncollection of cells, and may optionally contain discussions or\nattachments.\n\nA row is comprised of a collection of cells, and may optionally contain attachments and discussions.\n\n<h2>Row Attachments</h2>\n\nFor details about working with a row's attachments, see [Attachments](/api/smartsheet/openapi/attachments).\n\n<h2>Row Cells</h2>\n\nFor details about working with a row's cells, see [Cells](/api/smartsheet/openapi/cells).\n\nFor details about working with images in cells, see [Cell Images](/api/smartsheet/openapi/cellimages).\n\n<h2>Row Discussions</h2>\n\nFor details about working with a row's discussions, see [Discussions](/api/smartsheet/openapi/discussions).\n\n<h2>Row Include Flags</h2>\n\nEndpoints which return rows (for example, [Get Sheet](/api/smartsheet/openapi/sheets/getsheet), [Get Row](/api/smartsheet/openapi/rows/row-get)) support the optional **include** query string parameter. If specified, the value of the **include** parameter is\na comma-delimited list of flags that indicate additional attributes to be included in each [Row object](/api/smartsheet/openapi/rows/row) within the response.\n\nInclude Flag | Description |\n-------------|-------|\n**attachments**\t| Includes row **attachments** array.<br/>To include discussion attachments, both **attachments** and **discussions** must be present in the include list.\n**columnType**\t| Includes **columnType** attribute in the row's [cells](/api/smartsheet/openapi/cells/cell) indicating the type of the column the cell resides in.\n**discussions**\t| Includes row **discussions** array.<br/>To include discussion attachments, both **attachments** and **discussions** must be present in the include list.\n**filters**\t\t| Includes **filteredOut** attribute indicating if the row should be displayed or hidden according to the sheet's filters.\n**format**\t\t| Includes **format** attribute on the row, its cells, or summary fields.  See [Cell formatting](/api/smartsheet/guides/advanced-topics/cell-formatting).\n**objectValue** | Includes **objectValue** attribute on cells containing values. For more information see [Cell Reference](/api/smartsheet/openapi/cells).\n**rowPermalink** | Includes **permalink** attribute that represents a direct link to the [row](/api/smartsheet/openapi/rows/row) in the Smartsheet application.\n**rowWriterInfo** | **DEPRECATED** Includes **createdBy** and **modifiedBy** attributes on the row, indicating the row's creator, and last modifier.\n**writerInfo** | Includes **createdBy** and **modifiedBy** attributes on the row or summary fields, indicating the row or summary field's creator, and last modifier.\n\n<h2>Specify Row Location</h2>\n\nWhen you [add a row](/api/smartsheet/openapi/rows/rows-addtosheet), the default behavior is for Smartsheet to put the new row at the bottom of the sheet. And when you [update a row](/api/smartsheet/openapi/rows/update-rows), the default behavior is to keep the row where it is. It is not necessary to use a location-specifier attribute if you want the default behavior.\n\nTo specify a location for new or updated rows other than the defaults, use the table below for reference. The table details possible row locations and provides JSON examples to help you construct one or more [Row objects](/api/smartsheet/openapi/rows/row) with location-specifier attributes.\n\nNote the following restrictions:\n\n* Use only one location-specifier attribute per request, unless you use **parentId** and **toBottom** or **siblingId** and **above**.\n* If you specify multiple rows in the request, all rows must have the same location-specifier attributes.\n* If you specify the **parentId** attribute, you cannot also specify the **siblingId** attribute.\n* If you specify the **siblingId** attribute, you cannot also specify the **parentId**, **toTop**, or **toBottom** attributes.\n* If you want to indent or outdent multiple rows, use the **parentId** attribute.\n\nDestination | Row Attributes | Examples |\n-------|--------|--------|\nTop of a sheet | **toTop** | ```(\"toTop\": true}```\nBottom of a sheet | **toBottom** | ```(\"toBottom\": true}```\nTop of an indented section a.k.a., first child row | **parentId** | ```(\"parentId\": 8896508249565060}```\nBottom of an indented section a.k.a., last child row | **parentId** +<br/>**toBottom** | ```{\"parentId\": 8896508249565060, \"toBottom\": true}```\nBelow a specific row, at the same indent level | **siblingId** | ```{\"siblingId\": 8896508249565060}```\nAbove a specific row, at the same indent level | **siblingId** +<br/>**above** | ```{\"siblingId\": 8896508249565060, \"above\": true}```\nIndent one existing row, must have a value of \"1\" | **indent** | ```{\"indent\": 1}```\nOutdent one existing row, must have a value of \"1\" | **outdent** | ```{\"outdent\": 1}```\n",
    "x-displayName" : "Rows"
  }, {
    "name" : "search",
    "description" : "Search a specific sheet or search across all sheets that a user can access. If you have not used the public API in a while, we will need to provision your data. This could take up to 24 hours so please check back later!\n",
    "x-displayName" : "Search"
  }, {
    "name" : "sendViaEmail",
    "description" : "The methods for sending via email rely on the type of object you want to send.\n\n<h2>Send Report</h2>\n\nFor details about sending a report via email, see [Send Report via Email](/api/smartsheet/openapi/reports/sendreportviaemail).\n\n<h2>Send Rows</h2>\n\nFor details about sending rows via email, see [Send Rows via Email](/api/smartsheet/openapi/rows/rows-send).\n\n<h2>Send Sheet</h2>\n\nFor details about sending a sheet via email, see [Send Sheet via Email](/api/smartsheet/openapi/sheets/sheet-send).\n\n<h2>Send Update Request</h2>\n\nFor details about sending an update request via email, see [Create an Update Request](/api/smartsheet/openapi/updaterequests/updaterequests-create).\n",
    "x-displayName" : "Send via Email"
  }, {
    "name" : "serverInfo",
    "description" : "For developer convenience, the Smartsheet API provides access to application constants.\n",
    "x-displayName" : "Server Info"
  }, {
    "name" : "sharing",
    "description" : "Use the *Sharing* operations to control sharing of dashboards, reports, sheets, and workspaces.\n",
    "x-displayName" : "Sharing"
  }, {
    "name" : "sheetSummary",
    "description" : "A sheet summary allows users to define, organize, and report on custom project and business metadata. Sheet summary is only available to customers with business or enterprise plans.\n",
    "x-displayName" : "Sheet Summary"
  }, {
    "name" : "sheets",
    "description" : "A sheet can exist in a user's **Sheets** folder\n([Home](/api/smartsheet/openapi/home)), in a [folder](/api/smartsheet/openapi/folders), or\nin a [workspace](/api/smartsheet/openapi/workspaces). It is comprised of columns,\nrows, and cells, and may optionally contain attachments and discussions.\n\nA sheet is comprised of columns, rows, and cells, and may optionally\ncontain attachments and discussions.\n\n\n<h2>Sheet Attachments</h2>\n\n\nFor details about working with a sheet's attachments, see\n[Attachments](/api/smartsheet/openapi/attachments).\n\n\n<h2>Sheet Cells</h2>\n\n\nFor details about working with a sheet's cells, see\n[Cells](/api/smartsheet/openapi/cells).\n\n\nFor details about working with images in cells, see [Cell\nImages](/api/smartsheet/openapi/cellimages).\n\n\n<h2>Sheet Columns</h2>\n\n\nFor details about working with a sheet's columns, see\n[Columns](/api/smartsheet/openapi/columns).\n\n\n<h2>Sheet Discussions</h2>\n\n\nThere are two ways to get discussion-related information for a sheet:\n\n\nOperation | Returns\n----------|----------|\n[Get Sheet](/api/smartsheet/openapi/sheets/getsheet)<br/>(with **include** parameter value **discussions**) | Response does not contain the comments\nthat comprise each discussion.\n[List Discussions](/api/smartsheet/openapi/discussions/discussions-list)<br/>(with **include** parameter value **comments**) |  Response contains the comments that comprise each discussion.\n\n\nFor more information about working with a sheet's discussions, see\n[Discussions](/api/smartsheet/openapi/discussions).\n\n\n<h2>Sheet Rows</h2>\n\n\nFor details about working with a sheet's rows, see\n[Rows](/api/smartsheet/openapi/rows).\n",
    "x-displayName" : "Sheets"
  }, {
    "name" : "templates",
    "description" : "A template can be used to create a sheet, as described in [Create Sheet from Template](/api/smartsheet/openapi/sheets/create-sheet-in-folder).\n",
    "x-displayName" : "Templates"
  }, {
    "name" : "tokens",
    "description" : "The Smartsheet API utilizes OAuth 2.0 for authentication and authorization. An Authorization HTTP header containing an access token is required to authenticate all API requests except for the requests to GET Access Token or Refresh Access Token. For more information, see Authentication.\n",
    "x-displayName" : "Tokens"
  }, {
    "name" : "updateRequests",
    "description" : "Send update requests to get updated by any collaborator on key rows, regardless of whether they have a Smartsheet account or are shared to the sheet.\n",
    "x-displayName" : "Update Requests"
  }, {
    "name" : "users",
    "description" : "Users are typically defined by the organization account, and then role within the organization, for example admin.\n",
    "x-displayName" : "Users"
  }, {
    "name" : "webhooks",
    "description" : "<h2>Webhooks introduction</h2>\n\nAt a high-level, here's how our webhooks work:\n\n1. Your application subscribes to callbacks.</span><br/>First, subscribe to event notifications (callbacks) by creating one or more webhooks.  You can create a webhook manually via the API or have your application create a webhook dynamically.  Each webhook must specify:\n    * Which Smartsheet object to monitor for events\n    * Which events in that object should trigger a callback\n    * The HTTPS URL (that is, \"callback URL\") where Smartsheet should send callbacks when any of the specified events occur within the scope of the specified Smartsheet object. (**NOTE:** Smartsheet webhooks do not support callbacks to servers using self-signed certificates)\n\n\t  <b>Webhook examples in plain English:</b>\n\t  * \"When any changes occur in Sheet_A, send a callback to https://www.example.com/abc\"\n\t  * \"When a new row is added to Sheet_B, send a callback to https://www.example.com/def\"\n\t  * \"When a cell value is changed in Sheet_C, send a callback to https://www.example.com/ghi\"\n\n2. When any of the specified events occur within an object that is being monitored by a webhook, Smartsheet sends an <b>HTTP POST</b> (that is, a \"callback\") to the callback URL that is associated with the webhook.\n\n    NOTE: The callback payload is a \"skinny\" payload -- it indicates which objects changed and the type of events that occurred, but does not contain any data from the objects themselves.\n3. Your application receives, acknowledges, and processes callbacks.</span><br/>Your application receives the <code>HTTP POST</code>, acknowledges the callback by responding with HTTP status 200, and processes the callback. Because the callbacks are \"skinny\", you can make additional Smartsheet API requests to retrieve the actual data associated with the event.\n\nYou manage your webhooks using the webhooks endpoints described in this section.\n\n<h3>Webhook Ownership & Access</h3>\n\n> **IMPORTANT:** Webhooks are automatically disabled on sheets that exceed 20,000 rows, 400 columns, or 500,000 cells (whichever comes first). Stay within the specified limits to keep webhooks enabled on your sheets.\n\nWebhooks can be created and managed via direct API access or by a third-party application.\n\nA webhook that is created via Direct API Access:\n\n* is owned by the user who created it\n* can be managed only by the user who created it\n* is not affected if the access token that was used to create it is revoked, as long as the user remains active\n\nA webhook that is created by a third-party app:\n\n* is owned by the user who authorized the third-party app (and is associated with the third-party app)\n* can be managed by the third-party app (as long as it maintains authorization) or by the user who owns it\n* is permanently disabled if the third-party app's permissions are revoked\n\n<h3>Webhook Scope & Events</h3>\n\nA webhook monitors the specified **scope** for the specified **events**.\n\nA [Webhook object's](/api/smartsheet/openapi/webhooks/webhook) **scope** attribute indicates the scope of the subscription. It is specified when creating a webhook (see **Creating a Webhook**, below), and cannot subsequently be changed.\n\n* Currently, **sheet** is the only supported value for the **scope** attribute. However, you can set an array of columns as a **subscope** if you want to limit the webhook to specific columns.\n\nA [Webhook object's](/api/smartsheet/openapi/webhooks/webhook) **event** attribute indicates the set of events that a webhook is subscribed to (that is, which events trigger a callback).\n\n* Events are represented as a dot-separated string in the format \"*object*.*event*\", where an asterisk (&#42;) can be used to represent \"all objects\" or \"all events\".\n* Currently, <b>&#42;.&#42;</b> is the only supported value for the **events** attribute. This indicates a subscription to all objects in the scope, and all events for those objects.\n\nNOTE: When a row is deleted on a sheet, even if you are using a <b>subscope</b> to monitor columns only and the cell in that column for that row is empty, you will receive a \"row.deleted\" event.\n\n<h3>Example</h3>\n\nConsider a [Webhook object](/api/smartsheet/openapi/webhooks/webhook) with the following attribute values:\n\n* **scopeObjectId** = 12345678901234\n* **scope** = \"sheet\"\n* **events** = \"&#42;.&#42;\"\n\nThis webhook monitors the specified sheet (id: 12345678901234) for all types of events. For example, if a row is added to the sheet, cell values are updated in the sheet, a column is deleted from the sheet, etc., a callback is sent to the webhook's **callbackUrl**.\n\n<h2>Creating a Webhook</h2>\n\nAn API client can create a webhook by using the [Create Webhook](/api/smartsheet/openapi/webhooks/createwebhook) operation. A newly created webhook is disabled by default.\nAfter successfully creating a webhook, the API client must subsequently initiate and complete the verification process (see **Webhook Verification** below) before the webhook is enabled.\nThe following diagram illustrates the process of creating and enabling a webhook.\n\n<img src=\"./images/v4-CreateAndEnableWebhook.png\" alt=\"Workflow to create a webhook\" />\n\n<h3>Step-by-Step</h3>\n\nThe process occurs synchronously:\n\n1. API client submits a [Create Webhook](/api/smartsheet/openapi/webhooks/createwebhook) request.\n\n2. Smartsheet creates the webhook, but does not initially enable the webhook (**enabled: false** and **status: \"NEW_NOT_VERIFIED\"**).\n\n3. To initiate the verification process, the API client submits an [Update Webhook](/api/smartsheet/openapi/webhooks/updatewebhook) request to specify **enabled: true**. (**NOTE:** The API client does not receive a response to this request until the verification process (steps 4 and 5) has completed.)\n\n4. When Smartsheet receives the request to enable the webhook, it sends a verification request (see the **Webhook-Verification** section) to the subscriber (that is, to the **callbackUrl** that the API client specified in the Create Webhook request).\nThe request specifies a unique random value in the **Smartsheet-Hook-Challenge** header and contains only **challenge** and **webhookId** in the request body. The **challenge** value is a repeat of the header value for API clients that don't interpret header values.\n\n5. The subscriber responds to the verification request by echoing back the same unique random value in the **Smartsheet-Hook-Response** header of the response. For API clients that don't interpret header values, you can also send a JSON body with a **smartsheetHookResponse** attribute and the same value that would have been in the header.\n\n6. Once the subscriber has successfully acknowledged the verification request, Smartsheet enables the webhook and responds to the API client's Update Webhook request to confirm that the webhook has been enabled (**enabled: true** and **status: \"ENABLED\"**).\n\n<h3>Webhook Verification</h3>\n\nWhen an API client attempts to enable a webhook, Smartsheet sends a verification request to the webhook's **callbackUrl** to verify that the subscriber expects and is able to successfully receive callbacks.\nThe request specifies a unique random value in the **Smartsheet-Hook-Challenge** header and contains a JSON object in the request body with only **challenge** and **webhookId** attributes in the request body. The **challenge** attribute is a repeat of the header value for API clients that don't interpret header values.\n\n* To verify the webhook, the subscriber's response to the verification request must return a 200 HTTP status code and must echo back the same unique random value in the **Smartsheet-Hook-Response** header of the response or with a JSON **smartsheetHookResponse** attribute. Once Smartsheet receives this verification response, the webhook is enabled (**enabled: true** and **status: \"ENABLED\"**).\n\n* If the subscriber does not successfully respond to the verification request, the webhook remains disabled (**enabled: false** and **status: \"DISABLED_VERIFICATION_FAILED\"**).\n\nWhen a webhook is initially [created through the API](/api/smartsheet/openapi/webhooks/createwebhook), the response contains the webhook's Id.  If you wish to guarantee that your server only receives callbacks for webhooks that you created,\nyou can check the verification request's **webhookId** attribute against your list of created webhook Ids.  If the Id is not in the list, return a response with a non-200 status code (for example, 403 Forbidden),\nand the webhook that initiated the verification request is disabled as described above.\n\nNOTE: <b>IMPORTANT:</b> ONGOING VERIFICATION. Once a webhook has been enabled, Smartsheet sends a verification request to the webhook's <b>callbackUrl</b> once every 100 callbacks. The subscriber should respond to the verification request as described above -- failure to do so results in the webhook being disabled (<b>enabled: false</b> and <b>status: \"DISABLED_VERIFICATION_FAILED\"</b>).\n\n<h3>Duplicate Webhooks</h3>\n\n*Duplicate webhooks* are defined as two or more webhooks that meet the following conditions:\n\n* on the same sheet\n* created by the same user\n* have identical: **callbackUrl** and **subscope** properties.\n\nBecause duplicate webhooks are functionally identical, this would ordinarily result in the callback URL being called simultaneously once for each duplicate webhook in the sheet when the sheet changes. Many duplicates can lead to too much traffic which can cause a *denial of service* (DOS) on the callback server.\n\nThere are no known valid use cases for duplicate webhooks; they are usually created unintentionally by API clients due to faulty or missing logic.\n\nFor this reason, **as of January 2023, Smartsheet will now deduplicate webhook callbacks**.  This means for every set of duplicate webhooks on a sheet, Smartsheet will no longer issue one callback per webhook, and will instead only issue **one total callback**, for only the oldest enabled webhook.\n\n**Recommendation:** When creating a webhook, first check to make sure that the sheet doesn't already contain an identical webhook.  If it does, and it's disabled, re-enable it.  If it's already enabled, do nothing.\n\n<h2>Webhook Status</h2>\n\nA [Webhook](/api/smartsheet/openapi/webhooks/webhook) object's **enabled** attribute indicates whether a webhook is enabled or disabled, while the **status** attribute describes the *reason* that the webhook is enabled or disabled.\n\nThe following table lists all possible combinations of **enabled** and **status** attribute values.\n\nWebhook.enabled | Webhook.status | Meaning | Notes\n----- | ----- | ------ | -----\nfalse  | **DISABLED_ADMINISTRATIVE** | Webhook has been disabled by Smartsheet support. | A webhook in this state can only be re-enabled by Smartsheet (contact Support).  Attempting to re-enable a webhook in this state results in error code 1154.\nfalse  | **DISABLED_APP_REVOKED** | Webhook has been disabled because the third-party app associated with the webhook has had its access revoked. | This is a terminal state (that is, webhook in this state cannot be re-enabled, and attempts to do so result in error code 1153). If the third-party app's access is subsequently restored, it must create new webhooks.\nfalse  | **DISABLED_BY_OWNER** | Webhook has been disabled by the owner. | Owner can re-enable the webhook by using the [Update Webhook](/api/smartsheet/openapi/webhooks/updatewebhook) operation to set **enabled** to **true**. Once the subscriber successfully acknowledges the verification request (See the **Webhook Verification** section), the webhook is enabled.\nfalse  | **DISABLED_CALLBACK_FAILED** | Webhook has been disabled because callback was not successfully delivered to the callback URL. |  Owner can re-enable the webhook by using the [Update Webhook](/api/smartsheet/openapi/webhooks/updatewebhook) operation to set **enabled** to **true**. Once the subscriber successfully acknowledges the verification request (see the **Webhook Verification** section), the webhook is enabled.\nfalse | **DISABLED_EXCEEDED_GRID_LIMITS** | Webhook has been disabled because the sheet has 20,000 rows, 400 columns, or 500,000 cells. | Owner can enable the webhook by first reducing the sheet size to within the specified limits and then executing the [Update Webhook](/api/smartsheet/openapi/webhooks/updatewebhook) operation with the `enabled` body attribute set to `true`.\nfalse  | **DISABLED_SCOPE_INACCESSIBLE** | Webhook has been disabled because its owner lost access to the corresponding data in Smartsheet (either because the object was deleted or sharing permissions were revoked). | Webhook is automatically re-enabled if access to data is restored (for example, if deleted object is restored or sharing permissions are restored).\nfalse  | **DISABLED_VERIFICATION_FAILED** | Webhook verification has failed. |  Owner can re-enable the webhook by using the [Update Webhook](/api/smartsheet/openapi/webhooks/updatewebhook) operation to set **enabled** to **true**. Once the subscriber successfully acknowledges the verification request (see the **Webhook Verification section), the webhook is enabled.\ntrue  | **ENABLED** | Webhook is active. |\nfalse | **NEW_NOT_VERIFIED** | Webhook has been created but is not enabled because it has not yet been verified. |  Owner can re-enable the webhook by using the [Update Webhook](/api/smartsheet/openapi/webhooks/updatewebhook) operation to set **enabled** to **true**. Once the subscriber successfully acknowledges the verification request (see the **Webhook Verification** section), the webhook is enabled.\n\n**NOTES:**\n\n* When a Webhook object's <b>enabled</b> attribute is set to <b>true</b>, Smartsheet is monitoring for the specified events and sends a callback (see the **Event Callbacks** section) to the <b>callbackUrl</b> when the events occur.\n* When a Webhook object's <b>enabled</b> attribute is set to <b>false</b>, Smartsheet is not monitoring for the specified events and does not send a callback to the <b>callbackUrl</b> when the events occur. Depending on the value of the <b>status</b> attribute, it may be possible to (re-)enable the webhook. (See below for details).\n\n<h2>Webhook Callbacks</h2>\n\nA callback is the notification that Smartsheet sends to a webhook's **callbackUrl**. There are two types of callbacks:\n\n* Event callback (see the **Event Callbacks** section): Alerts the subscriber when the specified events have occurred in Smartsheet. This is the most common type of callback.\n\n* Status Change callback (see the **Status Change Callbacks** section): Alerts the subscriber that a webhook has been automatically disabled due to loss of access or automatically re-enabled due to restoration of access.\n\nA Subscriber has the ability to verify the integrity of a callback payload (that is, ensure that the message was not tampered with en route) and authenticate the identity of its sender (that is, ensure that the callback did indeed originate from Smartsheet).\nFor more information, see Authenticating Callbacks (see the **Authenticating Callbacks(optional)** section).\n\n**NOTES:**\n\n* Smartsheet webhooks do not support callbacks to servers using self-signed certificates. The callback server must be using a signed certificate from a certificate authority.\n* The callbackURL cannot be a private IP address.\n* The callbackURL must use one of the following ports: 443 (default for HTTPS), 8000, 8008, 8080, or 8443.\n* Smartsheet webhooks alway let a running callback for a given sheet finish before making another, that is the second call will wait on the first one to finish.\n\n<h3>Event Callbacks</h3>\n\nSmartsheet sends an event callback to notify the subscriber when the specified events occur in Smartsheet.\n\n**WARNING:** Any events that occur while a webhook is disabled are not communicated via callback if/when webhook is enabled.\n\n**IMPORTANT:** For Smartsheet US and Smartsheet Regions Europe since October 14th 2024, a one-minute debounce was introduced to optimize event trigger handling in the Webhooks event callback API. It reduces traffic and prevents workflows from acting on incomplete or transitional data.\n\n<h3>Callback Acknowledgement</h3>\n\nThe subscriber must respond to an event callback with a 200 <a href=\"https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success\" target=\"_blank\" rel=\"noopener noreferrer\">HTTP status code</a> to acknowledge that the callback was received.\n\n<h3>Retry Logic</h3>\n\nIf the subscriber fails to respond with a 200 status, depending on the response, Smartsheet may retry delivery up to 14 times. (The first 7 retry attempts occur with a frequency that's determined using exponential backoff; thereafter, retry attempts occur once every three hours until all retries have been exhausted.)\n\nSubscriber response | Is retried?\n----- | -----\nHTTP 201 through 299 | No\nHTTP 309 through 399 | No\nHTTP 400 through 499 (except 410) | Yes\nHTTP 410 | No\nHTTP 500 through 599 | Yes\nAny other HTTP status | No\nRequest timeout | Yes\n\nIf the response is not retriable or retry attempts have been exhausted, the webhook is disabled (**enabled: false** and **status: \"DISABLED_CALLBACK_FAILED\"**).\nA webhook in this state can be re-enabled if the subscriber completes the verification process. (See the **Webhook Status** section for details.)\n\n<h3>Status Change Callbacks</h3>\n\nIf a webhook's owner loses access to the object that a webhook is monitoring (either because the object was deleted or the webhook owner's access to the object was revoked in Smartsheet),\nSmartsheet automatically disables the webhook and sends a status change callback to alert the subscriber of this change in status.\nThe **newWebhookStatus** attribute indicates that the webhook is now disabled (because the scope is inaccessible).\n\nIf the webhook owner's access to the object is subsequently restored,\nSmartsheet automatically re-enables the webhook and sends a status change callback to alert the subscriber of this change in status.\nThe **newWebhookStatus** attribute indicates that the webhook is now enabled.\n\n<h3>Authenticating Callbacks (optional)</h3>\n\nA subscriber has the ability to verify the integrity of a callback payload (that is, ensure that the message was not tampered with en route) and authenticate the identity of its sender (that is, ensure that the callback did indeed originate from Smartsheet).\n\nWhen you create a new [webhook](/api/smartsheet/openapi/webhooks/webhook), it is assigned a randomly generated **sharedSecret** value.  The shared secret is used by Smartsheet to sign callback payloads, and should not be shared with any third parties.\n\nTo authenticate a callback request:\n\n1. Calculate the <a href=\"https://en.wikipedia.org/wiki/Hash-based_message_authentication_code\" target=\"_blank\" rel=\"noopener noreferrer\">HMAC</a> of the webhook's **sharedSecret** and the request body.  This must be done using the <a href=\"https://en.wikipedia.org/wiki/SHA-2\" target=\"_blank\" rel=\"noopener noreferrer\">SHA-256</a> cryptographic hash algorithm.\n\n2. Format the calculated value as a string in base 16.\n\n3. Compare your result with the value of the **Smartsheet-Hmac-SHA256** header of the request.\n\nIf the values match, you can be sure the request originated from Smartsheet and that the data has not been tampered with.\n\nNOTE: For maximum security, you may also choose to [reset your webhook's shared secret](/api/smartsheet/openapi/webhooks/resetsharedsecret) at periodic intervals.\n\n<h2>Preventing Infinite Loops</h2>\n\nIt's possible that an application which subscribes to callbacks (using webhooks) might react to those callbacks by using the API to make additional changes in Smartsheet.\nBut, consider the following scenario:\n\n1. **App1** creates a webhook to monitor **Sheet-A** for changes, specifying an **App-1** URL as the **callbackUrl** for the webhook.\n\n2. **App-1** updates **Sheet-A** using the API.\n\n3. Smartsheet detects that **Sheet-A** has changed and sends a callback to **App-1** (as the webhook specified).\n\n4. **App-1** processes the callback, and in the course of doing so, updates **Sheet-A** again using the API.\n\n5. Return to Step 3.\n\nTo protect against infinite loops like the one outlined above, Smartsheet introduced support for a new header that an API client can include with any API request that adds, updates, or deletes data in Smartsheet.\nHere's how it works:\n\n* An API client includes the **Smartsheet-Change-Agent** header in any API request that adds, updates, or deletes data in Smartsheet.\n  * The header value should be set to a string that the API client recognizes as identifying itself.\n* If any [event callbacks](/api/smartsheet/openapi/webhooks/callbackevent) fire as a result of an API request that contains the **Smartsheet-Change-Agent** header, the value of the **Smartsheet-Change-Agent** header is included in the [callback](/api/smartsheet/openapi/webhooks/callback) in the value of the **changeAgent** attribute.\n* If a webhook subscriber receives a [callback](/api/smartsheet/openapi/webhooks/callback) that contains the **changeAgent** attribute, it should evaluate the attribute value:\n  * If the attribute value's comma-delimited list contains the subscriber API client's change agent value, this indicates that the change which triggered the callback *was* caused by the subscriber itself, and the subscriber can choose to ignore the callback, thus preventing an infinite loop.\n  * Else, the change which triggered the callback was *not* caused by the subscriber itself, and if the subscriber is going to subsequently react to the callback by making a change in Smartsheet (via API request), the API client should append a comma and its own identifier to the original attribute value, and pass that value through using the **Smartsheet-Change-Agent** header of the API request. Doing so protects against cross-system infinite loops.\n\nNOTE: The <b>Smartsheet-Change-Agent</b> header value has a maximum length of 512 characters. If its length exceeds 512 characters, the excess is trimmed from the front of the string, so that the most recent agent information remains.\n\n<h2>Webhook Errors</h2>\n\nThe following table specifies the recommended action for each Smartsheet-specific error code.\nUse this information to implement error handling logic according to the following guidelines:\n\n* If the error code indicates a permanent error condition, do not retry the request.\n* If the error code indicates a problem that can be fixed, do not retry the request until the problem has been fixed.\n* If the error code indicates a problem that could be overcome by retrying the request after a period of time, retry the request using exponential backoff.\n\nHTTP status code | Smartsheet errorCode | Smartsheet message | Recommended Action |\n-----|-----|-----|-----|\n400 | 1151 | Scope '{0}', object id {1} was not found. | Do not retry without fixing the problem.\n400 | 1152 | Only URLs with a protocol of 'https' are supported for attribute '{0}'. | Do not retry without fixing the problem.\n403 | 1153 | This webhook cannot be enabled because access was revoked for the application that created it. | <span class=\"doNotRetry\">Do not retry.</span>\n403 | 1154 | Please contact Support in order to enable this webhook. | <span class=\"doNotRetry\">Do not retry.</span>\n",
    "x-displayName" : "Webhooks"
  }, {
    "name" : "workspaces",
    "description" : "Similar to a folder, a workspace is a place where you can store dashboards, reports, sheets, and templates to keep them organized. A workspace offers more functionality than a folder because you can set up sharing permissions and branding (a logo and a color scheme) at the workspace-level and a workspace can contain folders so that you can keep things within it organized. As new items are added to the workspace, they'll automatically inherit the sharing permissions and branding applied to that workspace.\n<h2>Workspace Folders</h2>\n\nFor details about working with folders in a workspace, see [Folders](/api/smartsheet/openapi/folders).\n\n<h2>Workspace Sheets</h2>\n\nFor details about working with sheets in a workspace, see [Sheets](/api/smartsheet/openapi/sheets).\n",
    "x-displayName" : "Workspaces"
  } ],
  "paths" : {
    "/contacts" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "List Contacts",
        "description" : "Gets a list of the user's Smartsheet contacts.",
        "operationId" : "list-contacts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/includeAll"
        }, {
          "$ref" : "#/components/parameters/modifiedSince"
        }, {
          "$ref" : "#/components/parameters/numericDates"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/pageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "IndexResult object containing an array of Contact objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/401"
          },
          "404" : {
            "$ref" : "#/components/responses/404"
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "APIToken" : [ ]
        }, {
          "OAuth2" : [ "READ_CONTACTS" ]
        } ],
        "x-codeSamples" : [ {
          "lang" : "C#",
          "label" : "C#",
          "source" : "// Omit pagination parameters\nPaginatedResult<Contact> contacts = smartsheet.ContactResources.ListContacts(\n  null                // PaginationParameters\n);\n"
        }, {
          "lang" : "cURL",
          "label" : "cURL",
          "source" : "curl https://api.smartsheet.com/2.0/contacts \\\n-H \"Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789\"\n"
        }, {
          "lang" : "Java",
          "label" : "Java",
          "source" : "// Omit pagination parameters\nPagedResult<Contact> contacts = smartsheet.contactResources().listContacts(\n        null        // PaginationParameters\n        );\n"
        }, {
          "lang" : "Node.js",
          "label" : "Node.js",
          "source" : "smartsheet.contacts.listContacts({})\n  .then(function(contactsList) {\n    console.log(contactsList);\n  })\n  .catch(function(error) {\n    console.log(error);\n  });\n"
        }, {
          "lang" : "Python",
          "label" : "Python",
          "source" : "# Sample 1: List all\nresponse = smartsheet_client.Contacts.list_contacts(include_all=True)\ncontacts = response.data\n\n# Sample 2: Paginate the list (100 contacts per page)\nresponse = smartsheet_client.Contacts.list_contacts(\n  page_size=100,\n  page=1)\npages = response.total_pages\ncontacts = response.data\n"
        } ]
      },
      "parameters" : [ {
        "$ref" : "#/components/parameters/Authorization"
      } ]
    },
    "/contacts/{contactId}" : {
      "get" : {
        "tags" : [ "contacts" ],
        "summary" : "Get Contact",
        "description" : "Gets the specified contact.",
        "operationId" : "get-contact",
        "parameters" : [ {
          "$ref" : "#/components/parameters/contactInclude"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns Contact object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "default" : {
            "description" : "Generic Error Payload",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "APIToken" : [ ]
        }, {
          "OAuth2" : [ "READ_CONTACTS" ]
        } ],
        "x-codeSamples" : [ {
          "lang" : "C#",
          "label" : "C#",
          "source" : "Contact contact = smartsheet.ContactResources.GetContact(\n  \"AAAAATYU54QAD7_fNhTnhA\"      // string contactId\n);\n"
        }, {
          "lang" : "cURL",
          "label" : "cURL",
          "source" : "curl https://api.smartsheet.com/2.0/contacts/{contactId} \\\n-H \"Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789\"\n"
        }, {
          "lang" : "Java",
          "label" : "Java",
          "source" : "Contact contact = smartsheet.contactResources().getContact(\n        \"AAAAATYU54QAD7_fNhTnhA\"      // string contactId\n        );\n"
        }, {
          "lang" : "Node.js",
          "label" : "Node.js",
          "source" : "// Set options\nvar options = {id: \"AAAAATYU54QAD7_fNhTnhA\"};\n\n// Get contact\nsmartsheet.contacts.getContact(options)\n  .then(function(contact) {\n    console.log(contact);\n  })\n  .catch(function(error) {\n    console.log(error);\n  });\n"
        }, {
          "lang" : "Python",
          "label" : "Python",
          "source" : "contact = smartsheet_client.Contacts.get_contact(\n  'AAAAATYU54QAD7_fNhTnhA')       # contact_id\n"
        } ]
      },
      "parameters" : [ {
        "$ref" : "#/components/parameters/Authorization"
      }, {
        "$ref" : "#/components/parameters/contactId"
      } ]
    },
    "/events" : {
      "get" : {
        "tags" : [ "events" ],
        "summary" : "List events",
        "description" : "Fetches events for System Admin users. This includes actions such as creating, updating, loading, deleting, and more of items such as sheets, reports, dashboards, attachments, and users in your Smartsheet organization account.\n\nSee [Event types](/api/smartsheet/event-types.md) for the complete event listing, details, and example objects.\n\n> **Who can use this endpoint?**\n> \n> - **Plans:** Requires the Event Reporting premium add-on available for Enterprise and Advanced Work Management plans only.\n> - **Permissions:** System Admin\n\n> **NOTE:** You must specify exactly one of the query parameters `since` or `streamPosition`. Both are optional individually, but one is required.\n",
        "operationId" : "list-events",
        "parameters" : [ {
          "$ref" : "#/components/parameters/Accept-Encoding"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "name" : "since",
          "in" : "query",
          "description" : "The earliest time from which events are included in the response. Events before this time are excluded.\n\nThis parameter is required if `streamPosition` is not used.\n\nThe date-time value is resolved to the nearest hour. The value is interpreted as ISO-8601 format, unless `numericDates` is specified (see details about `numericDates` below).\n\n> **IMPORTANT:** To keep event responses manageable and prevent timeouts, also specify the `to` query parameter.\n\n> **IMPORTANT:** This parameter is intended for use when backfilling data at client startup or recovery--don't use it for fine-grained, date-based queries\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The latest time up to which events are included in the response. Events after this time are excluded.\n\nThis parameter requires using the `since` parameter. \n\nThe date-time value is resolved to the nearest hour. The value is interpreted as ISO-8601 format, unless `numericDates` is specified (see details about `numericDates` below).\n\nLogic:\n\n- If `to` is a future time, the current time is used.\n- If `to` equals the `since` time, an empty data value is returned.\n- If `to` is before the `since` time, a validation error is returned.\n\n> **IMPORTANT:** This parameter is intended for use when backfilling data at client startup or recovery--don't use it for fine-grained, date-based queries\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "streamPosition",
          "in" : "query",
          "description" : "Indicates next set of events to return. Use value of\n`nextStreamPosition` returned from the previous call.\n\nThis parameter is required if `since` is not used\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "XyzAb1234cdefghijklmnofpq"
          }
        }, {
          "name" : "maxCount",
          "in" : "query",
          "description" : "Maximum number of events to return as response to this call.\nMust be between 1 through 10,000 (inclusive).\nDefaults to 1,000 if not specified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          }
        }, {
          "name" : "numericDates",
          "in" : "query",
          "description" : "If `true`, dates are accepted and returned in Unix epoch time\n(milliseconds since midnight on January 1, 1970 in UTC time).\n\nDefault is `false`, which means ISO-8601 format\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "managedPlanId",
          "in" : "query",
          "description" : "The target managed plan for which to list events. Authorized if the\ncaller is a system administrator on either the target managed plan or\nthe main plan in EPM hierarchy\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventStreamResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "A response with this status code can occur in any one of the following conditions:\n\n- The `to` parameter is earlier than the `since` parameter.\n- Invalid request format.\n- Missing required fields.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/401"
          },
          "403" : {
            "$ref" : "#/components/responses/403"
          },
          "404" : {
            "$ref" : "#/components/responses/404"
          },
          "405" : {
            "$ref" : "#/components/responses/405"
          },
          "406" : {
            "$ref" : "#/components/responses/406"
          },
          "410" : {
            "$ref" : "#/components/responses/410"
          },
          "415" : {
            "$ref" : "#/components/responses/415"
          },
          "429" : {
            "$ref" : "#/components/responses/429"
          },
          "500" : {
            "$ref" : "#/components/responses/500"
          }
        },
        "security" : [ {
          "APIToken" : [ ]
        }, {
          "OAuth2" : [ "READ_EVENTS" ]
        } ],
        "x-codeSamples" : [ {
          "lang" : "cURL",
          "label" : "cURL",
          "source" : "curl -i -X GET \\  \n'https://api.smartsheet.com/2.0/events?since=2025-03-24T15%3A15%3A22Z&to=2025-03-24T16%3A15%3A22Z' \\\n--header 'Accept-Encoding: deflate' \\\n--header 'Authorization: Bearer <YOUR_TOKEN_HERE>'\n"
        }, {
          "lang" : "javascript",
          "label" : "JavaScript",
          "source" : "const query = new URLSearchParams({\n  since: '2025-03-24T15:15:22Z',\n  to: '2025-03-24T16:15:22Z'\n}).toString();\n\nconst resp = await fetch(\n  `https://api.smartsheet.com/2.0/events?${query}`,\n  {\n    method: 'GET',\n    headers: {\n      'Accept-Encoding': 'deflate',\n      Authorization: 'Bearer <YOUR_TOKEN_HERE>'\n    }\n  }\n);\n\nconst data = await resp.text();\nconsole.log(data);\n"
        }, {
          "lang" : "nodejs",
          "label" : "Node.js",
          "source" : "import fetch from 'node-fetch';\n\nasync function run() {\n  const query = new URLSearchParams({\n    since: '2025-03-24T15:15:22Z',\n    to: '2025-03-24T16:15:22Z'\n  }).toString();\n\n  const resp = await fetch(\n    `https://api.smartsheet.com/2.0/events?${query}`,\n    {\n      method: 'GET',\n      headers: {\n        'Accept-Encoding': 'deflate',\n        Authorization: 'Bearer <YOUR_TOKEN_HERE>'\n      }\n    }\n  );\n\n  const data = await resp.text();\n  console.log(data);\n}\n\nrun();\n"
        }, {
          "lang" : "python",
          "label" : "Python",
          "source" : "import requests\n\nurl = \"https://api.smartsheet.com/2.0/events\"\n\nquery = {\n  \"since\": \"2025-03-24T15%3A15%3A22Z\",\n  \"to\": \"2025-03-24T16%3A15%3A22Z\"\n}\n\nheaders = {\n  \"Accept-Encoding\": \"deflate\",\n  \"Authorization\": \"Bearer <YOUR_TOKEN_HERE>\"\n}\n\nresponse = requests.get(url, headers=headers, params=query)\n\ndata = response.json()\nprint(data)\n"
        }, {
          "lang" : "go",
          "label" : "Go",
          "source" : "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n  reqUrl := \"https://api.smartsheet.com/2.0/events\"\n  req, err := http.NewRequest(\"GET\", reqUrl, nil)\n\n  query := req.URL.Query()\n  query.Add(\"since\", \"2025-03-24T15:15:22Z\")\n  query.Add(\"to\", \"2025-03-24T16:15:22Z\")\n  req.URL.RawQuery = query.Encode()\n\n  if err != nil {\n    panic(err)\n  }\n  req.Header.Add(\"Accept-Encoding\", \"deflate\")\n  req.Header.Add(\"Authorization\", \"Bearer <YOUR_TOKEN_HERE>\")\n  res, err := http.DefaultClient.Do(req)\n  if err != nil {\n    panic(err)\n  }\n  defer res.Body.Close()\n  body, err := ioutil.ReadAll(res.Body)\n  if err != nil {\n    panic(err)\n  }\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n}\n"
        }, {
          "lang" : "java",
          "label" : "Java",
          "source" : "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\nimport java.nio.charset.StandardCharsets;\nimport java.util.stream.Collectors;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n\n    HashMap<String, String> params = new HashMap<>();\n    params.put(\"since\", \"2025-03-24T15:15:22Z\");\n    params.put(\"to\", \"2025-03-24T16:15:22Z\");\n\n    var query = params.keySet().stream()\n      .map(key -> key + \"=\" + URLEncoder.encode(params.get(key), StandardCharsets.UTF_8))\n      .collect(Collectors.joining(\"&\"));\n\n    var host = \"https://api.smartsheet.com\";\n    var pathname = \"/2.0/events\";\n    var request = HttpRequest.newBuilder()\n      .GET()\n      .uri(URI.create(host + pathname + '?' + query))\n      .header(\"Accept-Encoding\", \"deflate\")\n      .header(\"Authorization\", \"Bearer <YOUR_TOKEN_HERE>\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
        }, {
          "lang" : "csharp",
          "label" : "C#",
          "source" : "using System;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\npublic class Program\n{\n  public static async Task Main()\n  {\n    System.Net.Http.HttpClient client = new()\n    {\n      DefaultRequestHeaders =\n      {\n        {\"Authorization\", \"Bearer <YOUR_TOKEN_HERE>\"},\n      }\n    };\n\n    using HttpResponseMessage request = await client.GetAsync(\"https://api.smartsheet.com/2.0/events?since=2025-03-24T15%3A15%3A22Z&to=2025-03-24T16%3A15%3A22Z\");\n    string response = await request.Content.ReadAsStringAsync();\n\n    Console.WriteLine(response);\n  }\n}\n"
        }, {
          "lang" : "php",
          "label" : "PHP",
          "source" : "/**\n* Requires libcurl\n*/\n\n$query = array(\n  \"since\" => \"2025-03-24T15%3A15%3A22Z\",\n  \"to\" => \"2025-03-24T16%3A15%3A22Z\",\n  \"streamPosition\" => \"XyzAb1234cdefghijklmnofpq\"\n);\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n    \"Accept-Encoding: deflate\",\n    \"Authorization: Bearer <YOUR_TOKEN_HERE>\"\n  ],\n  CURLOPT_URL => \"https://api.smartsheet.com/2.0/events?\" . http_build_query($query),\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
        } ]
      }
    },
    "/favorites" : {
      "get" : {
        "tags" : [ "favorites" ],
        "summary" : "Get Favorites",
        "description" : "Gets a list of all of the user's favorite items.",
        "operationId" : "get-favorites",
        "parameters" : [ {
          "$ref" : "#/components/parameters/includeAll"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/pageSize"
        }, {
          "$ref" : "#/components/parameters/favoriteInclude"
        } ],
        "responses" : {
          "200" : {
            "description" : "IndexResult object containing an array of Favorite objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Generic Error Payload",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "APIToken" : [ ]
        }, {
          "OAuth2" : [ "READ_SHEETS" ]
        } ],
        "x-codeSamples" : [ {
          "lang" : "C#",
          "label" : "C#",
          "source" : "// Omit pagination parameters\nPaginatedResult<Favorite> results = smartsheet.FavoriteResources.ListFavorites(\n  null                // PaginationParameters\n);\n"
        }, {
          "lang" : "cURL",
          "label" : "cURL",
          "source" : "curl https://api.smartsheet.com/2.0/favorites \\\n-H \"Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789\"\n"
        }, {
          "lang" : "Java",
          "label" : "Java",
          "source" : "// Omit pagination parameters\nPagedResult<Favorite> results = smartsheet.favoriteResources().listFavorites(\n        null        // PaginationParameters\n        );\n"
        }, {
          "lang" : "Node.js",
          "label" : "Node.js",
          "source" : "smartsheet.favorites.listFavorites()\n  .then(function(favoritesList) {\n    console.log(favoritesList);\n  })\n  .catch(function(error) {\n    console.log(error);\n  });\n"
        }, {
          "lang" : "Python",
          "label" : "Python",
          "source" : "# Sample 1: List All\nresponse = smartsheet_client.Favorites.list_favorites(include_all=True)\nfaves = response.data\n\n# Sample 2: Paginate the list of favorites\nresponse = smartsheet_client.Favorites.list_favorites(\n  page_size=10,\n  page=1)\npages = response.total_pages\nfaves = response.data\n"
        } ]
      },
      "post" : {
        "tags" : [ "favorites" ],
        "summary" : "Add Favorites",
        "description" : "Adds one or more favorite items for the current user. This operation supports both single-object and bulk semantics. For more information, see Optional Bulk Operations.\nIf called with a single Favorite object, and that favorite already exists, error code 1129 is returned. If called with an array of Favorite objects, any objects specified in the array that are already marked as favorites are ignored and omitted from the response.\n",
        "operationId" : "add-favorite",
        "parameters" : [ {
          "$ref" : "#/components/parameters/Content-Type"
        } ],
        "requestBody" : {
          "description" : "A list of favorites to be added",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FavoritesBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Result object containing either a single Favorite object or an array of Favorite objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FavoriteResultResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Generic Error Payload.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "APIToken" : [ ]
        }, {
          "OAuth2" : [ "ADMIN_WORKSPACES" ]
        } ],
        "x-codeSamples" : [ {
          "lang" : "C#",
          "label" : "C#",
          "source" : "// Specify favorites\nIList<Favorite> favoritesSpecification = new Favorite[]\n{\n  new Favorite\n  {\n    Type = ObjectType.SHEET,\n    ObjectId = 8400677765441412\n  }\n};\n\n// Add items to favorites\nIList<Favorite> newFavorite = smartsheet.FavoriteResources.AddFavorites(favoritesSpecification);\n"
        }, {
          "lang" : "cURL",
          "label" : "cURL",
          "source" : "curl https://api.smartsheet.com/2.0/favorites \\\n-H \"Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789\" \\\n-H \"Content-Type: application/json\" \\\n-X POST \\\n-d '[{\"type\": \"sheet\", \"objectId\": 8400677765441412}]'\n"
        }, {
          "lang" : "Java",
          "label" : "Java",
          "source" : "// Specify favorites\nFavorite favoritesSpecification = new Favorite()\n        .setObjectId(8400677765441412L)\n        .setType(FavoriteType.SHEET);\n\n// Add items to favorites\nList<Favorite> newFavorite = smartsheet.favoriteResources().addFavorites(Arrays.asList(favoritesSpecification));\n"
        }, {
          "lang" : "Node.js",
          "label" : "Node.js",
          "source" : "// Specify favorites\nvar favorites = [\n  {\n    \"type\": \"sheet\",\n    \"objectId\": 8400677765441412\n  }\n];\n\n// Set options\nvar options = {\n  body: favorites\n};\n\n// Add items to favorites\nsmartsheet.favorites.addItemsToFavorites(options)\n  .then(function(newFavorite) {\n    console.log(newFavorite);\n  })\n  .catch(function(error) {\n    console.log(error);\n  });\n"
        }, {
          "lang" : "Python",
          "label" : "Python",
          "source" : "response = smartsheet_client.Favorites.add_favorites([\n  smartsheet.models.Favorite({\n    'type': 'sheet',\n    'object_id': 8400677765441412\n  })\n])\n"
        } ]
      },
      "parameters" : [ {
        "$ref" : "#/components/parameters/Authorization"
      }, {
        "$ref" : "#/components/parameters/ActorId"
      } ]
    },
    "/favorites/{favoriteType}" : {
      "delete" : {
        "tags" : [ "favorites" ],
        "summary" : "Delete Multiple Favorites",
        "description" : "Deletes all favorites with the same type for the user.",
        "operationId" : "delete-favorites-by-type",
        "parameters" : [ {
          "$ref" : "#/components/parameters/favoriteIds"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns Result object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Generic Error Payload.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "APIToken" : [ ]
        }, {
          "OAuth2" : [ "ADMIN_WORKSPACES" ]
        } ],
        "x-codeSamples" : [ {
          "lang" : "C#",
          "label" : "C#",
          "source" : "smartsheet.FavoriteResources.RemoveFavorites(\n  ObjectType.FOLDER,\n  new long[] { 2252168947361668, 2252168947361669 }     // folderIds\n);\n"
        }, {
          "lang" : "cURL",
          "label" : "cURL",
          "source" : "curl 'https://api.smartsheet.com/2.0/favorites/{favoriteType}?objectIds=favoriteId1,favoriteId2' \\\n-H \"Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789\" \\\n-X DELETE\n"
        }, {
          "lang" : "Java",
          "label" : "Java",
          "source" : "smartsheet.favoriteResources().removeFavorites(\n        FavoriteType.FOLDER,\n        new HashSet(Arrays.asList(2252168947361668L, 2252168947361669L))      // long folderIds\n        );\n"
        }, {
          "lang" : "Node.js",
          "label" : "Node.js",
          "source" : "// Set options\nvar options = {\n  queryParameters: {\n    objectIds: \"2252168947361668,2252168947361669\"\n  }\n};\n\n// Remove favoriteType from list of favorites\nsmartsheet.favorites.remove{favoriteType}FromFavorites(options)\n  .then(function(results) {\n    console.log(results);\n  })\n  .catch(function(error) {\n    console.log(error);\n  });\n"
        }, {
          "lang" : "Python",
          "label" : "Python",
          "source" : "smartsheet_client.Favorites.remove_favorites(\n  'folder',\n  [2252168947361668, 2252168947361669]        # folder_ids\n)\n"
        } ]
      },
      "parameters" : [ {
        "$ref" : "#/components/parameters/favoriteType"
      }, {
        "$ref" : "#/components/parameters/Authorization"
      }, {
        "$ref" : "#/components/parameters/ActorId"
      } ]
    },
    "/favorites/{favoriteType}/{favoriteId}" : {
      "get" : {
        "tags" : [ "favorites" ],
        "summary" : "Is Favorite",
        "description" : "Checks whether an item has been tagged as a favorite for the current user by type and ID.",
        "operationId" : "is-favorite",
        "parameters" : [ {
          "$ref" : "#/components/parameters/favoriteInclude"
        } ],
        "responses" : {
          "200" : {
[...]
