{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Payments",
    "description" : "Call the Payments API to authorize payments, capture authorized payments, refund payments that have already been captured, and show payment information. Use the Payments API in conjunction with the <a href=\"/docs/api/orders/v2/\">Orders API</a>. For more information, see the <a href=\"/docs/checkout/\">PayPal Checkout Overview</a>.",
    "contact" : { },
    "version" : "2.5"
  },
  "externalDocs" : {
    "url" : "https://developer.paypal.com/docs/api/payments/v2/"
  },
  "servers" : [ {
    "url" : "https://api-m.sandbox.paypal.com/v2/payments",
    "description" : "PayPal Sandbox Environment"
  }, {
    "url" : "https://api-m.paypal.com/v2/payments",
    "description" : "PayPal Live Environment"
  } ],
  "tags" : [ {
    "name" : "authorizations",
    "description" : "Use the `/authorizations` resource to show details for, capture payment for, reauthorize, and void authorized payments."
  }, {
    "name" : "captures",
    "description" : "Use the `/captures` resource to show details for and refund a captured payment."
  }, {
    "name" : "refunds",
    "description" : "Use the `/refunds` resource to show refund details."
  }, {
    "name" : "assets",
    "description" : "Assets APIs for Checkout"
  }, {
    "name" : "cancel-payment",
    "description" : "Use the <code>/cancel-payment</code> resource to cancel an order capture or order authorization by <code>PayPal-Request-Id</code>. The merchant triggers the cancel action."
  }, {
    "name" : "find-eligible-methods",
    "description" : "Use the `/find-eligible-methods` resource to show list of eligible payment methods for given customer/order context."
  }, {
    "name" : "payment-resource-operations",
    "description" : "Use the `/payment-resource-operations` resource to show verifications details."
  } ],
  "paths" : {
    "/authorizations/{authorizationId}" : {
      "get" : {
        "tags" : [ "authorizations" ],
        "summary" : "Show details for authorized payment",
        "description" : "Shows details for an authorized payment, by ID.",
        "operationId" : "authorizations.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/authorization_id"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Authorization2"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/payment/authcapture" ]
        } ]
      }
    },
    "/authorizations/{authorizationId}/capture" : {
      "post" : {
        "tags" : [ "authorizations" ],
        "summary" : "Capture authorized payment",
        "description" : "Captures an authorized payment, by ID.",
        "operationId" : "authorizations.capture",
        "parameters" : [ {
          "$ref" : "#/components/parameters/authorization_id"
        }, {
          "$ref" : "#/components/parameters/paypal_request_id"
        }, {
          "$ref" : "#/components/parameters/prefer"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CaptureRequest"
              },
              "examples" : {
                "capture_request" : {
                  "value" : {
                    "amount" : {
                      "value" : "10.99",
                      "currency_code" : "USD"
                    },
                    "invoice_id" : "INVOICE-123",
                    "final_capture" : true,
                    "note_to_payer" : "If the ordered color is not available, we will substitute with a different color free of charge.",
                    "soft_descriptor" : "Bob's Custom Sweaters"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows captured payment details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Capture2"
                }
              }
            }
          },
          "400" : {
            "description" : "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "The request failed because it is semantically incorrect or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnprocessableContentError"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/payment/authcapture" ]
        } ]
      }
    },
    "/authorizations/{authorizationId}/reauthorize" : {
      "post" : {
        "tags" : [ "authorizations" ],
        "summary" : "Reauthorize authorized payment",
        "description" : "Reauthorizes an authorized PayPal account payment, by ID. To ensure that funds are still available, reauthorize a payment after its initial three-day honor period expires. Within the 29-day authorization period, you can issue multiple re-authorizations after the honor period expires.<br/><br/>If 30 days have transpired since the date of the original authorization, you must create an authorized payment instead of reauthorizing the original authorized payment.<br/><br/>A reauthorized payment itself has a new honor period of three days.<br/><br/>You can reauthorize an authorized payment from 4 to 29 days after the 3-day honor period. The allowed amount depends on context and geography, for example in US it is up to 115% of the original authorized amount, not to exceed an increase of $75 USD.<br/><br/>Supports only the `amount` request parameter.<blockquote><strong>Note:</strong> This request is currently not supported for Partner use cases.</blockquote>",
        "operationId" : "authorizations.reauthorize",
        "parameters" : [ {
          "$ref" : "#/components/parameters/authorization_id"
        }, {
          "$ref" : "#/components/parameters/paypal_request_id"
        }, {
          "$ref" : "#/components/parameters/prefer"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReauthorizeRequest"
              },
              "examples" : {
                "reauthorize_request" : {
                  "value" : {
                    "amount" : {
                      "value" : "10.99",
                      "currency_code" : "USD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows the reauthorized payment details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Authorization2"
                }
              }
            }
          },
          "400" : {
            "description" : "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationReauthorizeErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "The request failed because it either is semantically incorrect or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationReauthorizeError422Response"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/payment/authcapture" ]
        } ]
      }
    },
    "/authorizations/{authorizationId}/void" : {
      "post" : {
        "tags" : [ "authorizations" ],
        "summary" : "Void authorized payment",
        "description" : "Voids, or cancels, an authorized payment, by ID. You cannot void an authorized payment that has been fully captured.",
        "operationId" : "authorizations.void",
        "parameters" : [ {
          "$ref" : "#/components/parameters/authorization_id"
        }, {
          "$ref" : "#/components/parameters/paypal_auth_assertion"
        }, {
          "$ref" : "#/components/parameters/prefer"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details. This response is returned when the Prefer header is set to return=representation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Authorization2"
                }
              }
            }
          },
          "204" : {
            "description" : "A successful request returns the HTTP <code>204 No Content</code> status code with no JSON response body. This response is returned when the Prefer header is set to return=minimal."
          },
          "400" : {
            "description" : "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error400"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "The request failed because a previous call for the given resource is in progress.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "The request failed because it either is semantically incorrect or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationVoidValidationError"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/payment/authcapture" ]
        } ]
      }
    },
    "/captures/{captureId}" : {
      "get" : {
        "tags" : [ "captures" ],
        "summary" : "Show captured payment details",
        "description" : "Shows details for a captured payment, by ID.",
        "operationId" : "captures.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/capture_id"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows captured payment details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Capture2"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error401"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/payment/authcapture" ]
        } ]
      }
    },
    "/captures/{captureId}/refund" : {
      "post" : {
        "tags" : [ "captures" ],
        "summary" : "Refund captured payment",
        "description" : "Refunds a captured payment, by ID. For a full refund, include an empty payload in the JSON request body. For a partial refund, include an <code>amount</code> object in the JSON request body.",
        "operationId" : "captures.refund",
        "parameters" : [ {
          "$ref" : "#/components/parameters/capture_id"
        }, {
          "$ref" : "#/components/parameters/paypal_request_id"
        }, {
          "$ref" : "#/components/parameters/prefer"
        }, {
          "$ref" : "#/components/parameters/paypal_auth_assertion"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RefundRequest"
              },
              "examples" : {
                "refund_request" : {
                  "value" : {
                    "amount" : {
                      "value" : "10.00",
                      "currency_code" : "USD"
                    },
                    "invoice_id" : "INVOICE-123",
                    "note_to_payer" : "DefectiveProduct",
                    "payment_instruction" : {
                      "platform_fees" : [ {
                        "amount" : {
                          "currency_code" : "USD",
                          "value" : "1.00"
                        }
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows refund details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Refund"
                }
              }
            }
          },
          "400" : {
            "description" : "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapturesRefundError400Response"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "The request failed because a previous call for the given resource is in progress.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "The request failed because it either is semantically incorrect or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapturesRefundValidationErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/refund" ]
        } ]
      }
    },
    "/refunds/{refundId}" : {
      "get" : {
        "tags" : [ "refunds" ],
        "summary" : "Show refund details",
        "description" : "Shows details for a refund, by ID.",
        "operationId" : "refunds.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/refund_id"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows refund details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Refund"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "The request failed because the caller has insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenAccessErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The request failed because the resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "The request failed because an internal server error occurred."
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/payments/refund" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error503" : {
        "title" : "Service Unavailable Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error type identifier indicating the service is temporarily unavailable",
            "enum" : [ "SERVICE_UNAVAILABLE" ]
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating the service is temporarily unavailable",
            "enum" : [ "Service Unavailable." ]
          }
        },
        "description" : "The server is temporarily unable to handle the request, for example, because of planned maintenance or downtime",
        "example" : {
          "name" : "SERVICE_UNAVAILABLE",
          "message" : "Service Unavailable.",
          "debug_id" : "90957fca61718",
          "information_link" : "https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE"
        }
      },
      "INVALIDPARAMETERSYNTAX" : {
        "title" : "INVALID_PARAMETER_SYNTAX",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the request contains a parameter with invalid syntax formatting.",
            "enum" : [ "INVALID_PARAMETER_SYNTAX" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating a field value does not match the required format or syntax rules.",
            "enum" : [ "The value of a field does not conform to the expected format." ]
          }
        },
        "description" : "Error indicating a field value does not match the required format or syntax rules"
      },
      "ErrorLocation" : {
        "type" : "string",
        "description" : "The location of the field that caused the error. Value is `body`, `path`, or `query`",
        "default" : "body",
        "enum" : [ "body", "path", "query" ]
      },
      "SupplementaryPurchaseData" : {
        "title" : "Capture Identifier",
        "type" : "object",
        "properties" : {
          "invoice_id" : {
            "maxLength" : 127,
            "minLength" : 1,
            "pattern" : "^.{1,127}$",
            "type" : "string",
            "description" : "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives",
            "x-ballerina-name-ignore" : "invoiceId",
            "x-ballerina-name" : "invoiceId"
          },
          "note_to_payer" : {
            "maxLength" : 255,
            "minLength" : 1,
            "pattern" : "^.{1,255}$",
            "type" : "string",
            "description" : "An informational note about this settlement. Appears in both the payer's transaction history and the emails that the payer receives",
            "x-ballerina-name-ignore" : "noteToPayer",
            "x-ballerina-name" : "noteToPayer"
          }
        },
        "description" : "The capture identification-related fields. Includes the invoice ID, custom ID, note to payer, and soft descriptor"
      },
      "CardBrand" : {
        "title" : "Card Brand",
        "maxLength" : 255,
        "minLength" : 1,
        "pattern" : "^[A-Z_]+$",
        "type" : "string",
        "description" : "The card network or brand. Applies to credit, debit, gift, and payment cards",
        "enum" : [ "VISA", "MASTERCARD", "DISCOVER", "AMEX", "SOLO", "JCB", "STAR", "DELTA", "SWITCH", "MAESTRO", "CB_NATIONALE", "CONFIGOGA", "CONFIDIS", "ELECTRON", "CETELEM", "CHINA_UNION_PAY" ]
      },
      "REFUNDAMOUNTEXCEEDED" : {
        "title" : "REFUND_AMOUNT_EXCEEDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the refund amount requested exceeds the maximum allowed limit.",
            "enum" : [ "REFUND_AMOUNT_EXCEEDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating the refund amount exceeds the available refundable capture amount.",
            "enum" : [ "The refund amount must be less than or equal to the capture amount that has not yet been refunded." ]
          }
        },
        "description" : "Refund amount exceeds the available capture amount that hasn't been refunded yet"
      },
      "DateTime" : {
        "maxLength" : 64,
        "minLength" : 20,
        "pattern" : "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$",
        "type" : "string",
        "description" : "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong> The regular expression provides guidance but does not reject all invalid dates.</blockquote>",
        "format" : "ppaas_date_time_v3"
      },
      "Capture" : {
        "title" : "Capture",
        "type" : "object",
        "description" : "A captured payment",
        "allOf" : [ {
          "$ref" : "#/components/schemas/CaptureStatus"
        }, {
          "$ref" : "#/components/schemas/CaptureAllOf2"
        }, {
          "$ref" : "#/components/schemas/ActivityTimestamps"
        } ]
      },
      "CurrencyCode" : {
        "maxLength" : 3,
        "minLength" : 3,
        "type" : "string",
        "description" : "The [three-character ISO-4217 currency code](/api/rest/reference/currency-codes/) that identifies the currency",
        "format" : "ppaas_common_currency_code_v2"
      },
      "PARTIALREFUNDNOTALLOWED" : {
        "title" : "PARTIAL_REFUND_NOT_ALLOWED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that partial refunds are not permitted for this transaction or payment method.",
            "enum" : [ "PARTIAL_REFUND_NOT_ALLOWED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating partial refunds are not permitted; only full refund amounts allowed.",
            "enum" : [ "You cannot do a refund less than the original capture amount." ]
          }
        },
        "description" : "Indicates that partial refunds are not permitted; only full refunds matching the original capture amount are allowed"
      },
      "Error500" : {
        "title" : "Internal Server Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error name identifier indicating an internal server error occurred",
            "enum" : [ "INTERNAL_SERVER_ERROR" ]
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating an internal server error has occurred on the server",
            "enum" : [ "An internal server error occurred." ]
          }
        },
        "description" : "This is either a system or application error, and generally indicates that although the client appeared to provide a correct request, something unexpected has gone wrong on the server",
        "example" : {
          "name" : "INTERNAL_SERVER_ERROR",
          "message" : "An internal server error occurred.",
          "debug_id" : "90957fca61718",
          "links" : [ {
            "href" : "https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR",
            "rel" : "information_link"
          } ]
        }
      },
      "DECIMALPRECISION2" : {
        "title" : "DECIMAL_PRECISION",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates a decimal precision validation issue with the fixed value \"DECIMAL_PRECISION\".",
            "enum" : [ "DECIMAL_PRECISION" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A string value representing a decimal number with precision limited to 2 decimal places."
          }
        },
        "description" : "Validation issue indicating incorrect decimal precision formatting or configuration"
      },
      "DECIMALPRECISION1" : {
        "title" : "DECIMAL_PRECISION",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Identifies a decimal precision issue with the value \"DECIMAL_PRECISION\".",
            "enum" : [ "DECIMAL_PRECISION" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that currencies supporting decimals are limited to two decimal places only.",
            "enum" : [ "If the currency supports decimals, only two decimal place precision is supported." ]
          }
        },
        "description" : "Validates that decimal currencies use only two decimal place precision"
      },
      "ConflictErrorResponse" : {
        "description" : "HTTP 409 Conflict error response indicating a request conflict with the current resource state",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Error409"
        }, {
          "$ref" : "#/components/schemas/Conflict"
        } ]
      },
      "CURRENCYMISMATCH" : {
        "title" : "CURRENCY_MISMATCH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates a currency mismatch error when currencies don't align between related transactions.",
            "enum" : [ "CURRENCY_MISMATCH" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A descriptive message explaining the currency mismatch error or providing additional context."
          }
        },
        "description" : "Error indicating a mismatch between expected and provided currency codes in the transaction"
      },
      "RefundStatus" : {
        "title" : "Refund Status",
        "type" : "object",
        "properties" : {
          "status_details" : {
            "description" : "Additional details and context information related to the current refund status",
            "allOf" : [ {
              "$ref" : "#/components/schemas/RefundStatusDetails"
            } ],
            "x-ballerina-name-ignore" : "statusDetails",
            "x-ballerina-name" : "statusDetails"
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the refund",
            "readOnly" : true,
            "enum" : [ "CANCELLED", "FAILED", "PENDING", "COMPLETED" ]
          }
        },
        "description" : "The refund status"
      },
      "REFUNDNOTPERMITTEDDUETOCHARGEBACK" : {
        "title" : "REFUND_NOT_PERMITTED_DUE_TO_CHARGEBACK",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a refund cannot be processed because a chargeback has been initiated for this transaction.",
            "enum" : [ "REFUND_NOT_PERMITTED_DUE_TO_CHARGEBACK" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates refunds are blocked due to a chargeback on the payment method requiring payee contact.",
            "enum" : [ "Refunds are not allowed on this capture due to a chargeback on the card or bank. Please contact the payee to resolve the chargeback." ]
          }
        },
        "description" : "Refunds are not allowed on this capture due to a chargeback on the card or bank"
      },
      "INVALIDPARAMETERSYNTAX1" : {
        "title" : "INVALID_PARAMETER_SYNTAX",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates a parameter syntax validation error with the fixed value \"INVALID_PARAMETER_SYNTAX\".",
            "enum" : [ "INVALID_PARAMETER_SYNTAX" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating a field value does not match the required format or syntax rules.",
            "enum" : [ "The value of a field does not conform to the expected format." ]
          }
        },
        "description" : "Error indicating a field value does not conform to the expected format or syntax requirements"
      },
      "Authorizationsreauthorize400Details" : {
        "description" : "Error details for authorization reauthorization 400 responses including missing, invalid length, or syntax parameter errors",
        "anyOf" : [ {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER1"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH1"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH1"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX1"
        } ]
      },
      "PLATFORMFEEEXCEEDED" : {
        "title" : "PLATFORM_FEE_EXCEEDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the platform fee has exceeded the allowed limit or threshold.",
            "enum" : [ "PLATFORM_FEE_EXCEEDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error when platform fee refund amount exceeds available refund balance or no fee was originally captured.",
            "enum" : [ "Platform fee amount specified exceeds the amount that is available for refund. You can only refund up to the available platform fee amount. This error is also returned when no platform_fee was specified or was zero when the payment was captured." ]
          }
        },
        "description" : "Platform fee refund amount exceeds available balance or no platform fee was originally captured"
      },
      "INVALIDPARAMETERSYNTAX2" : {
        "title" : "INVALID_PARAMETER_SYNTAX",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates a parameter syntax validation error with the fixed value \"INVALID_PARAMETER_SYNTAX\".",
            "enum" : [ "INVALID_PARAMETER_SYNTAX" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A descriptive message explaining the invalid parameter syntax error encountered."
          }
        },
        "description" : "Error indicating a parameter has invalid syntax format with descriptive details"
      },
      "INVALIDRESOURCEID" : {
        "title" : "INVALID_RESOURCE_ID",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates the specific validation error type when a resource identifier is invalid or not found.",
            "enum" : [ "INVALID_RESOURCE_ID" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating the specified resource ID does not exist and requires verification.",
            "enum" : [ "Specified resource ID does not exist. Please check the resource ID and try again." ]
          }
        },
        "description" : "Error response indicating the specified resource ID does not exist or is invalid"
      },
      "TRANSACTIONREFUSED2" : {
        "title" : "TRANSACTION_REFUSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates the transaction was refused, with the fixed value \"TRANSACTION_REFUSED\".",
            "enum" : [ "TRANSACTION_REFUSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "PayPal's internal controls prevent authorization from being captured.",
            "enum" : [ "PayPal's internal controls prevent authorization from being captured." ]
          }
        },
        "description" : "Transaction refused due to PayPal's internal controls preventing authorization capture"
      },
      "Capture2" : {
        "title" : "Capture",
        "type" : "object",
        "description" : "A captured payment",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Capture"
        }, {
          "$ref" : "#/components/schemas/Capture2AllOf2"
        } ]
      },
      "Capture2AllOf2" : {
        "properties" : {
          "supplementary_data" : {
            "$ref" : "#/components/schemas/SupplementaryData"
          },
          "payee" : {
            "$ref" : "#/components/schemas/PayeeBase"
          }
        },
        "description" : "Contains supplementary data and payee information for capture processing"
      },
      "Refund" : {
        "title" : "Refund",
        "type" : "object",
        "description" : "The refund information",
        "allOf" : [ {
          "$ref" : "#/components/schemas/RefundStatus"
        }, {
          "$ref" : "#/components/schemas/RefundAllOf2"
        }, {
          "$ref" : "#/components/schemas/ActivityTimestamps"
        } ]
      },
      "ForbiddenAccessErrorResponse" : {
        "description" : "Error response returned when access to a resource is forbidden due to insufficient permissions",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Error403"
        }, {
          "$ref" : "#/components/schemas/Forbidden"
        } ]
      },
      "TRANSACTIONREFUSED" : {
        "title" : "TRANSACTION_REFUSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a transaction was refused, with the fixed value \"TRANSACTION_REFUSED\".",
            "enum" : [ "TRANSACTION_REFUSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "PayPal's internal controls prevent authorization from being captured.",
            "enum" : [ "PayPal's internal controls prevent authorization from being captured." ]
          }
        },
        "description" : "PayPal's internal controls prevent authorization from being captured"
      },
      "CaptureStatus" : {
        "title" : "Capture Status",
        "type" : "object",
        "properties" : {
          "status_details" : {
            "description" : "Additional details and context information about the current capture status",
            "allOf" : [ {
              "$ref" : "#/components/schemas/CaptureStatusDetails"
            } ],
            "x-ballerina-name-ignore" : "statusDetails",
            "x-ballerina-name" : "statusDetails"
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the captured payment",
            "readOnly" : true,
            "enum" : [ "COMPLETED", "DECLINED", "PARTIALLY_REFUNDED", "PENDING", "REFUNDED", "FAILED" ]
          }
        },
        "description" : "The status of a captured payment"
      },
      "MAXNUMBEROFREFUNDSEXCEEDED" : {
        "title" : "MAX_NUMBER_OF_REFUNDS_EXCEEDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the maximum allowed number of refunds for this transaction has been exceeded.",
            "enum" : [ "MAX_NUMBER_OF_REFUNDS_EXCEEDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating the maximum number of refund attempts has been exceeded for a capture.",
            "enum" : [ "You have exceeded the maximum number of refund attempts for this capture." ]
          }
        },
        "description" : "Error indicating the maximum allowed number of refund attempts for a capture has been exceeded"
      },
      "PREVIOUSREQUESTINPROGRESS" : {
        "title" : "PREVIOUS_REQUEST_IN_PROGRESS",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a previous request is still being processed and must complete before a new request can be initiated.",
            "enum" : [ "PREVIOUS_REQUEST_IN_PROGRESS" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating a previous request is still processing and to retry after waiting.",
            "enum" : [ "A previous request on this resource is currently in progress. Please wait for sometime and try again. It is best to space out the initial and the subsequent request(s) to avoid receiving this error." ]
          }
        },
        "description" : "A previous request on this resource is in progress. Wait and retry with spaced intervals"
      },
      "Error404" : {
        "title" : "Not found Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error type identifier indicating the requested resource could not be found",
            "enum" : [ "RESOURCE_NOT_FOUND" ]
          },
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information providing specific context about the 404 not found error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetails"
            }
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating the requested resource could not be found on the server",
            "enum" : [ "The specified resource does not exist." ]
          }
        },
        "description" : "The server has not found anything matching the request URI. This either means that the URI is incorrect or the resource is not available"
      },
      "SupplementaryData" : {
        "title" : "Supplementary Data",
        "type" : "object",
        "properties" : {
          "related_ids" : {
            "description" : "Array of identifiers linking this supplementary data to related entities or records",
            "allOf" : [ {
              "$ref" : "#/components/schemas/RelatedIds"
            } ],
            "x-ballerina-name-ignore" : "relatedIds",
            "x-ballerina-name" : "relatedIds"
          }
        },
        "description" : "The supplementary data"
      },
      "Error409" : {
        "title" : "Resource Conflict Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error type identifier indicating a resource conflict has occurred",
            "enum" : [ "RESOURCE_CONFLICT" ]
          },
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information providing specific context about the conflict condition",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetails"
            }
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A standard conflict error message indicating the server detected a request processing conflict",
            "enum" : [ "The server has detected a conflict while processing this request." ]
          }
        },
        "description" : "The server has detected a conflict while processing this request"
      },
      "PAYERCANNOTPAY" : {
        "title" : "PAYER_CANNOT_PAY",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payer is unable to complete the payment transaction.",
            "enum" : [ "PAYER_CANNOT_PAY" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Standard message indicating the payer cannot complete the transaction and should be contacted for alternative payment methods.",
            "enum" : [ "Payer cannot pay for this transaction. Please contact the payer to find other ways to pay for this transaction." ]
          }
        },
        "description" : "Indicates the payer lacks sufficient funds or means to complete the transaction payment"
      },
      "ReauthorizeRequest" : {
        "title" : "Reauthorize Request",
        "type" : "object",
        "properties" : {
          "amount" : {
            "$ref" : "#/components/schemas/Money"
          }
        },
        "description" : "Reauthorizes an authorized PayPal account payment, by ID. To ensure that funds are still available, reauthorize a payment after its initial three-day honor period expires. You can reauthorize a payment only once from days four to 29.<br/><br/>If 30 days have transpired since the date of the original authorization, you must create an authorized payment instead of reauthorizing the original authorized payment.<br/><br/>A reauthorized payment itself has a new honor period of three days.<br/><br/>You can reauthorize an authorized payment once. The allowed amount depends on context and geography, for example in US it is up to 115% of the original authorized amount, not to exceed an increase of $75 USD.<br/><br/>Supports only the `amount` request parameter.<blockquote><strong>Note:</strong> This request is currently not supported for Partner use cases.</blockquote>"
      },
      "ErrorDetails" : {
        "title" : "Error Details",
        "required" : [ "issue" ],
        "type" : "object",
        "properties" : {
          "field" : {
            "type" : "string",
            "description" : "The field that caused the error. If this field is in the body, set this value to the field's JSON pointer value. Required for client-side errors"
          },
          "issue" : {
            "type" : "string",
            "description" : "The unique, fine-grained application-level error code"
          },
          "description" : {
            "type" : "string",
            "description" : "The human-readable description for an issue. The description can change over the lifetime of an API, so clients must not depend on this value"
          },
          "location" : {
            "$ref" : "#/components/schemas/ErrorLocation"
          },
          "value" : {
            "type" : "string",
            "description" : "The value of the field that caused the error"
          }
        },
        "description" : "The error details. Required for client-side `4XX` errors"
      },
      "INVALIDACCOUNTSTATUS" : {
        "title" : "INVALID_ACCOUNT_STATUS",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates an invalid account status error with the value \"INVALID_ACCOUNT_STATUS\".",
            "enum" : [ "INVALID_ACCOUNT_STATUS" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Account validation failure message indicating the user's account status is invalid.",
            "enum" : [ "Account validations failed for the user." ]
          }
        },
        "description" : "Account validation error indicating the user's account status is invalid or does not meet requirements"
      },
      "Authorization" : {
        "title" : "Authorization",
        "type" : "object",
        "description" : "The authorized payment transaction",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AuthorizationStatus"
        }, {
          "$ref" : "#/components/schemas/AuthorizationAllOf2"
        }, {
          "$ref" : "#/components/schemas/ActivityTimestamps"
        } ]
      },
      "AUTHORIZATIONALREADYCAPTURED1" : {
        "title" : "AUTHORIZATION_ALREADY_CAPTURED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the authorization has already been captured and cannot be processed again.",
            "enum" : [ "AUTHORIZATION_ALREADY_CAPTURED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the authorization has already been captured and cannot be processed again.",
            "enum" : [ "Authorization has previously been captured." ]
          }
        },
        "description" : "Error indicating that the payment authorization has already been captured and cannot be processed again"
      },
      "REFUNDNOTALLOWED" : {
        "title" : "REFUND_NOT_ALLOWED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a refund is not permitted for this transaction or item.",
            "enum" : [ "REFUND_NOT_ALLOWED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the captured payment cannot be refunded due to policy restrictions.",
            "enum" : [ "Capture cannot be refunded." ]
          }
        },
        "description" : "Indicates that a captured payment cannot be refunded due to transaction restrictions"
      },
      "TRANSACTIONREFUSED1" : {
        "title" : "TRANSACTION_REFUSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the transaction was refused, with the fixed value \"TRANSACTION_REFUSED\".",
            "enum" : [ "TRANSACTION_REFUSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "PayPal's internal controls prevent authorization from being captured.",
            "enum" : [ "PayPal's internal controls prevent authorization from being captured." ]
          }
        },
        "description" : "Transaction refused due to PayPal's internal controls preventing authorization capture"
      },
      "SellerReceivableBreakdown" : {
        "title" : "Seller Receivable Breakdown",
        "required" : [ "gross_amount" ],
        "type" : "object",
        "properties" : {
          "platform_fees" : {
            "maxItems" : 1,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of platform or partner fees, commissions, or brokerage fees that associated with the captured payment",
            "items" : {
              "$ref" : "#/components/schemas/PlatformFee"
            },
            "x-ballerina-name-ignore" : "platformFees",
            "x-ballerina-name" : "platformFees"
          },
          "exchange_rate" : {
            "description" : "Exchange rate applied to convert currency amounts in the seller receivable breakdown",
            "allOf" : [ {
              "$ref" : "#/components/schemas/ExchangeRate"
            } ],
            "x-ballerina-name-ignore" : "exchangeRate",
            "x-ballerina-name" : "exchangeRate"
          },
          "paypal_fee" : {
            "description" : "The PayPal fee amount deducted from the transaction, expressed as a monetary value",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Money"
            } ],
            "x-ballerina-name-ignore" : "paypalFee",
            "x-ballerina-name" : "paypalFee"
          },
          "gross_amount" : {
            "description" : "The total gross amount before deductions, represented as a monetary value",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Money"
            } ],
            "x-ballerina-name-ignore" : "grossAmount",
            "x-ballerina-name" : "grossAmount"
          },
          "paypal_fee_in_receivable_currency" : {
            "description" : "The PayPal fee amount expressed in the receivable currency for this seller transaction",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Money"
            } ],
            "x-ballerina-name-ignore" : "paypalFeeInReceivableCurrency",
            "x-ballerina-name" : "paypalFeeInReceivableCurrency"
          },
          "net_amount" : {
            "description" : "The net amount due to the seller after deducting fees and adjustments from the total receivable",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Money"
            } ],
            "x-ballerina-name-ignore" : "netAmount",
            "x-ballerina-name" : "netAmount"
          },
          "receivable_amount" : {
            "description" : "Amount due to the seller, representing the total receivable in monetary terms",
            "allOf" : [ {
              "$ref" : "#/components/schemas/Money"
            } ],
            "x-ballerina-name-ignore" : "receivableAmount",
            "x-ballerina-name" : "receivableAmount"
          }
        },
        "description" : "The detailed breakdown of the capture activity. This is not available for transactions that are in pending state"
      },
      "PAYEEACCOUNTLOCKEDORCLOSED" : {
        "title" : "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payee's account is either locked or closed, preventing transaction completion.",
            "enum" : [ "PAYEE_ACCOUNT_LOCKED_OR_CLOSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the transaction failed because the payee's account is locked or closed.",
            "enum" : [ "Transaction could not complete because payee account is locked or closed." ]
          }
        },
        "description" : "Transaction cannot complete due to payee account being locked or closed"
      },
      "AUTHORIZATIONVOIDED" : {
        "title" : "AUTHORIZATION_VOIDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that an authorization has been voided, with the fixed value \"AUTHORIZATION_VOIDED\".",
            "enum" : [ "AUTHORIZATION_VOIDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Status message indicating an authorization has been voided and cannot be captured or reauthorized.",
            "enum" : [ "A voided authorization cannot be captured or reauthorized. " ]
          }
        },
        "description" : "A voided authorization cannot be captured or reauthorized"
      },
      "MISSINGREQUIREDPARAMETER1" : {
        "title" : "MISSING_REQUIRED_PARAMETER",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a required parameter was not provided in the request.",
            "enum" : [ "MISSING_REQUIRED_PARAMETER" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating that a mandatory field or parameter was not provided in the request.",
            "enum" : [ "A required field / parameter is missing." ]
          }
        },
        "description" : "Error indicating a required field or parameter was not provided in the request"
      },
      "PAYERACCOUNTLOCKEDORCLOSED1" : {
        "title" : "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payer's account is either locked or closed, preventing transaction processing.",
            "enum" : [ "PAYER_ACCOUNT_LOCKED_OR_CLOSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Account is locked or closed and cannot be used for this transaction.",
            "enum" : [ "The payer account cannot be used for this transaction." ]
          }
        },
        "description" : "Indicates the payer's account is locked or closed and cannot be used for the transaction"
      },
      "PAYERACCOUNTLOCKEDORCLOSED2" : {
        "title" : "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "PAYER_ACCOUNT_LOCKED_OR_CLOSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "The payer account cannot be used for this transaction.",
            "enum" : [ "The payer account cannot be used for this transaction." ]
          }
        },
        "description" : "Indicates the payer's account is locked or closed and cannot be used for the transaction"
      },
      "DECIMALSNOTSUPPORTED" : {
        "title" : "DECIMALS_NOT_SUPPORTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Error code indicating that decimal values are not supported in this context.",
            "enum" : [ "DECIMALS_NOT_SUPPORTED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating the currency does not support decimal values with reference link.",
            "enum" : [ "Currency does not support decimals. Please refer to https://developer.paypal.com/docs/api/reference/currency-codes/ for more information." ]
          }
        },
        "description" : "Error indicating the specified currency does not support decimal values in monetary amounts"
      },
      "NotFoundErrorResponse" : {
        "description" : "Standard HTTP 404 error response indicating the requested resource could not be found",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Error404"
        }, {
          "$ref" : "#/components/schemas/NotFound"
        } ]
      },
      "MISSINGREQUIREDPARAMETER2" : {
        "title" : "MISSING_REQUIRED_PARAMETER",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a required parameter is missing from the request.",
            "enum" : [ "MISSING_REQUIRED_PARAMETER" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A descriptive text explaining the missing required parameter and its expected usage."
          }
        },
        "description" : "Error indicating a required parameter was not provided in the API request"
      },
      "Error400" : {
        "title" : "Bad Request Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error code indicating the request contains invalid parameters or formatting",
            "enum" : [ "INVALID_REQUEST" ]
          },
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information providing specific context about validation or request issues",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetails"
            }
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating the request is malformed, syntactically incorrect, or violates schema",
            "enum" : [ "Request is not well-formed, syntactically incorrect, or violates schema." ]
          }
        },
        "description" : "Request is not well-formed, syntactically incorrect, or violates schema"
      },
      "Error401" : {
        "title" : "Unauthorized Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error code indicating authentication credentials are missing, invalid, or expired",
            "enum" : [ "AUTHENTICATION_FAILURE" ]
          },
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information providing specific context about the 401 authentication failure",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetails"
            }
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating authentication failure due to missing or invalid credentials",
            "enum" : [ "Authentication failed due to missing authorization header, or invalid authentication credentials." ]
          }
        },
        "description" : "Authentication failed due to missing Authorization header, or invalid authentication credentials"
      },
      "PAYERCANNOTPAY1" : {
        "title" : "PAYER_CANNOT_PAY",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates the payer is unable to complete the payment transaction.",
            "enum" : [ "PAYER_CANNOT_PAY" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates payer is unable to complete the transaction and requires alternative payment methods.",
            "enum" : [ "Payer cannot pay for this transaction. Please contact the payer to find other ways to pay for this transaction." ]
          }
        },
        "description" : "Indicates the payer cannot complete the transaction and should be contacted for alternative payment methods"
      },
      "Error403" : {
        "title" : "Not Authorized Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error code indicating the user is not authorized to perform the requested action",
            "enum" : [ "NOT_AUTHORIZED" ]
          },
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information providing specific context about the 403 Forbidden error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetails"
            }
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating the request failed due to insufficient user permissions",
            "enum" : [ "Authorization failed due to insufficient permissions." ]
          }
        },
        "description" : "The client is not authorized to access this resource, although it may have valid credentials. "
      },
      "Error415" : {
        "title" : "Unsupported Media Type Error",
        "type" : "object",
        "properties" : {
          "debug_id" : {
            "type" : "string",
            "description" : "The PayPal internal ID. Used for correlation purposes",
            "x-ballerina-name-ignore" : "debugId",
            "x-ballerina-name" : "debugId"
          },
          "name" : {
            "type" : "string",
            "description" : "Error type identifier indicating the request media type is not supported by the server",
            "enum" : [ "UNSUPPORTED_MEDIA_TYPE" ]
          },
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information providing specific context about the 415 Unsupported Media Type error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetails"
            }
          },
          "links" : {
            "maxItems" : 10000,
            "minItems" : 0,
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
            "items" : {
              "$ref" : "#/components/schemas/ErrorLinkDescription"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating the server cannot process the request's media type format",
            "enum" : [ "The server does not support the request payload's media type." ]
          }
        },
        "description" : "The server does not support the request payload's media type"
      },
      "PAYEEACCOUNTLOCKEDORCLOSED1" : {
        "title" : "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payee's account is either locked or closed, preventing transaction completion.",
            "enum" : [ "PAYEE_ACCOUNT_LOCKED_OR_CLOSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the transaction failed due to the payee's account being locked or closed.",
            "enum" : [ "Transaction could not complete because payee account is locked or closed." ]
          }
        },
        "description" : "Indicates the transaction failed because the recipient's account is locked or closed"
      },
      "PREVIOUSLYVOIDED" : {
        "title" : "PREVIOUSLY_VOIDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the transaction or document has been previously voided in the system.",
            "enum" : [ "PREVIOUSLY_VOIDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that an authorization was already voided and cannot be voided again.",
            "enum" : [ "Authorization has been previously voided and hence cannot be voided again." ]
          }
        },
        "description" : "Indicates that an authorization has already been voided and cannot be voided again"
      },
      "PLATFORMFEENOTENABLED" : {
        "title" : "PLATFORM_FEE_NOT_ENABLED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that platform fee functionality is not enabled for this account or transaction.",
            "enum" : [ "PLATFORM_FEE_NOT_ENABLED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating the account is not configured to process refunds with platform fees.",
            "enum" : [ "The API Caller account is not setup to be able to process refunds with 'platform_fees'. Please contact your Account Manager. This feature is useful when you want to contribute a portion of the 'platform_fees' you had capture as part of the refund being processed." ]
          }
        },
        "description" : "Account not configured to process refunds with platform fees. Contact Account Manager to enable"
      },
      "MAXCAPTUREAMOUNTEXCEEDED" : {
        "title" : "MAX_CAPTURE_AMOUNT_EXCEEDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Error code indicating the capture amount exceeds the maximum allowed limit.",
            "enum" : [ "MAX_CAPTURE_AMOUNT_EXCEEDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message when capture amount exceeds the configured overage limit for the order.",
            "enum" : [ "Capture amount exceeds allowable limit. Please contact customer service or your account manager to request the change to your overage limit. The default overage limit is 115%, which allows the sum of all captures to be up to 115% of the order amount. The ability to over capture is subjected to regulatory approvals." ]
          }
        },
        "description" : "Capture amount exceeds the allowable limit (default 115% of order amount)"
      },
      "CANNOTBEZEROORNEGATIVE1" : {
        "title" : "CANNOT_BE_ZERO_OR_NEGATIVE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a value cannot be zero or negative, with the fixed value \"CANNOT_BE_ZERO_OR_NEGATIVE\".",
            "enum" : [ "CANNOT_BE_ZERO_OR_NEGATIVE" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Validation message indicating the value must be greater than zero with max two decimal places.",
            "enum" : [ "Must be greater than zero. If the currency supports decimals, only two decimal place precision is supported." ]
          }
        },
        "description" : "Must be greater than zero. If the currency supports decimals, only two decimal place precision is supported"
      },
      "AuthorizationsVoid422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information for failed authorization void operations.",
            "items" : {
              "$ref" : "#/components/schemas/Authorizationsvoid422Details"
            }
          }
        },
        "description" : "Error response for invalid authorization void requests with detailed validation issues"
      },
      "404Details" : {
        "description" : "Details about invalid resource identifier when a 404 error occurs",
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDRESOURCEID"
        } ]
      },
      "CANNOTBEZEROORNEGATIVE2" : {
        "title" : "CANNOT_BE_ZERO_OR_NEGATIVE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a value cannot be zero or negative, with the specific issue type being \"CANNOT_BE_ZERO_OR_NEGATIVE\".",
            "enum" : [ "CANNOT_BE_ZERO_OR_NEGATIVE" ]
          },
          "description" : {
            "type" : "string",
            "description" : "A string value that must be greater than zero and cannot be negative."
          }
        },
        "description" : "Validation error indicating a field value cannot be zero or negative and must be a positive number"
      },
      "PAYERACCOUNTLOCKEDORCLOSED" : {
        "title" : "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates the payer's account is either locked or closed, preventing transaction processing.",
            "enum" : [ "PAYER_ACCOUNT_LOCKED_OR_CLOSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Account is locked or closed and cannot be used for this transaction.",
            "enum" : [ "The payer account cannot be used for this transaction." ]
          }
        },
        "description" : "The payer account is locked or closed and cannot be used for this transaction"
      },
      "400Details" : {
        "description" : "Error details for HTTP 400 Bad Request responses, including invalid parameters, missing fields, or syntax errors",
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDPARAMETERVALUE"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX"
        } ]
      },
      "AUTHORIZATIONDENIED" : {
        "title" : "AUTHORIZATION_DENIED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the request was denied due to insufficient authorization permissions.",
            "enum" : [ "AUTHORIZATION_DENIED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating that a denied authorization cannot be captured for processing.",
            "enum" : [ "An denied authorization cannot be captured." ]
          }
        },
        "description" : "Error indicating that a denied authorization cannot be captured for processing"
      },
      "PAYEEACCOUNTLOCKEDORCLOSED2" : {
        "title" : "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payee's account is either locked or closed, preventing transaction completion.",
            "enum" : [ "PAYEE_ACCOUNT_LOCKED_OR_CLOSED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the transaction failed due to the payee's account being locked or closed.",
            "enum" : [ "Transaction could not complete because payee account is locked or closed." ]
          }
        },
        "description" : "Transaction cannot complete because the payee's account is locked or closed"
      },
      "CAPTUREFULLYREFUNDED" : {
        "title" : "CAPTURE_FULLY_REFUNDED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a capture has been fully refunded, with the fixed value \"CAPTURE_FULLY_REFUNDED\".",
            "enum" : [ "CAPTURE_FULLY_REFUNDED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the capture transaction has been completely refunded with no remaining balance.",
            "enum" : [ "The capture has already been fully refunded" ]
          }
        },
        "description" : "Indicates that a payment capture has already been completely refunded and no further refunds are possible"
      },
      "CaptureRequestAllOf2" : {
        "properties" : {
          "amount" : {
            "$ref" : "#/components/schemas/Money"
          },
          "invoice_id" : {
            "maxLength" : 127,
            "type" : "string",
            "description" : "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives."
          },
          "final_capture" : {
            "type" : "boolean",
            "description" : "Indicates whether you can make additional captures against the authorized payment. Set to `true` if you do not intend to capture additional payments against the authorization. Set to `false` if you intend to capture additional payments against the authorization.",
            "default" : false
          },
          "payment_instruction" : {
            "$ref" : "#/components/schemas/PaymentInstruction"
          },
          "note_to_payer" : {
            "maxLength" : 255,
            "type" : "string",
            "description" : "An informational note about this settlement. Appears in both the payer's transaction history and the emails that the payer receives."
          },
          "soft_descriptor" : {
            "maxLength" : 22,
            "type" : "string",
            "description" : "The payment descriptor on the payer's account statement."
          }
        },
        "description" : "Additional capture request parameters including amount, invoice details, and payment instructions"
      },
      "RefundRequest" : {
        "title" : "Refund Request",
        "type" : "object",
        "properties" : {
          "amount" : {
            "$ref" : "#/components/schemas/Money"
          },
          "custom_id" : {
            "maxLength" : 127,
            "minLength" : 1,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports. The pattern is defined by an external party and supports Unicode",
            "x-ballerina-name-ignore" : "customId",
            "x-ballerina-name" : "customId"
          },
          "invoice_id" : {
            "maxLength" : 127,
            "minLength" : 1,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The API caller-provided external invoice ID for this order. The pattern is defined by an external party and supports Unicode",
            "x-ballerina-name-ignore" : "invoiceId",
            "x-ballerina-name" : "invoiceId"
          },
          "note_to_payer" : {
            "maxLength" : 255,
            "minLength" : 1,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The reason for the refund. Appears in both the payer's transaction history and the emails that the payer receives. The pattern is defined by an external party and supports Unicode",
            "x-ballerina-name-ignore" : "noteToPayer",
            "x-ballerina-name" : "noteToPayer"
          },
          "payment_instruction" : {
            "description" : "Payment instruction details specifying how the refund should be processed and delivered to the recipient",
            "allOf" : [ {
              "$ref" : "#/components/schemas/PaymentInstruction2"
            } ],
            "x-ballerina-name-ignore" : "paymentInstruction",
            "x-ballerina-name" : "paymentInstruction"
          }
        },
        "description" : "Refunds a captured payment, by ID. For a full refund, include an empty request body. For a partial refund, include an <code>amount</code> object in the request body"
      },
      "INVALIDSTRINGMAXLENGTH" : {
        "title" : "INVALID_STRING_MAX_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates a validation error where a string value exceeds the maximum allowed length.",
            "enum" : [ "INVALID_STRING_MAX_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating that a field value exceeds the maximum allowed length.",
            "enum" : [ "The value of a field is too long." ]
          }
        },
        "description" : "Validation error indicating that a string field value exceeds the maximum allowed length"
      },
      "422Details" : {
        "description" : "Error details for 422 Unprocessable Entity responses, containing specific validation or business rule violation information",
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDCURRENCYCODE"
        }, {
          "$ref" : "#/components/schemas/CANNOTBEZEROORNEGATIVE"
        }, {
          "$ref" : "#/components/schemas/DECIMALPRECISION"
        }, {
          "$ref" : "#/components/schemas/DECIMALSNOTSUPPORTED"
        }, {
          "$ref" : "#/components/schemas/TRANSACTIONREFUSED"
        }, {
          "$ref" : "#/components/schemas/AUTHORIZATIONVOIDED"
        }, {
          "$ref" : "#/components/schemas/MAXCAPTURECOUNTEXCEEDED"
        }, {
          "$ref" : "#/components/schemas/DUPLICATEINVOICEID"
        }, {
          "$ref" : "#/components/schemas/AUTHCAPTURECURRENCYMISMATCH"
        }, {
          "$ref" : "#/components/schemas/PAYERCANNOTPAY"
        }, {
          "$ref" : "#/components/schemas/AUTHORIZATIONDENIED"
        }, {
          "$ref" : "#/components/schemas/AUTHORIZATIONEXPIRED"
        }, {
          "$ref" : "#/components/schemas/AUTHORIZATIONALREADYCAPTURED"
        }, {
          "$ref" : "#/components/schemas/MAXCAPTUREAMOUNTEXCEEDED"
        }, {
          "$ref" : "#/components/schemas/TRANSACTIONREFUSED1"
        }, {
          "$ref" : "#/components/schemas/PAYEEACCOUNTLOCKEDORCLOSED"
        }, {
          "$ref" : "#/components/schemas/PAYERACCOUNTLOCKEDORCLOSED"
        }, {
          "$ref" : "#/components/schemas/PAYEEACCOUNTRESTRICTED"
        } ]
      },
      "REFUNDISRESTRICTED" : {
        "title" : "REFUND_IS_RESTRICTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that a refund cannot be processed due to policy or system restrictions.",
            "enum" : [ "REFUND_IS_RESTRICTED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates refund must be processed by the original API caller that captured the transaction.",
            "enum" : [ "This refund can only be processed by the API caller that had 'captured' the transaction. If you facilitate your transactions via a platform/partner, please initiate a refund through them." ]
          }
        },
        "description" : "Refund restricted to the API caller that originally captured the transaction"
      },
      "UnprocessableContentError" : {
        "description" : "Error response for requests with valid syntax but semantically incorrect or unprocessable content",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Error422"
        }, {
          "$ref" : "#/components/schemas/UnprocessableContent"
        } ]
      },
      "PaymentInstruction2" : {
        "title" : "Payment Instruction",
        "type" : "object",
        "properties" : {
          "platform_fees" : {
            "maxItems" : 1,
            "minItems" : 0,
            "type" : "array",
            "description" : "Specifies the amount that the API caller will contribute to the refund being processed. The amount needs to be lower than platform_fees amount originally captured or the amount that is remaining if multiple refunds have been processed. This field is only applicable to merchants that have been enabled for PayPal Commerce Platform for Marketplaces and Platforms capability. Please speak to your account manager if you want to use this capability",
            "items" : {
              "$ref" : "#/components/schemas/PlatformFee"
            },
            "x-ballerina-name-ignore" : "platformFees",
            "x-ballerina-name" : "platformFees"
          }
        },
        "description" : "Any additional payments instructions during refund payment processing. This object is only applicable to merchants that have been enabled for PayPal Commerce Platform for Marketplaces and Platforms capability. Please speak to your account manager if you want to use this capability"
      },
      "UnprocessableContent" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "description" : "Array of detailed error information for unprocessable content validation failures.",
            "items" : {
              "$ref" : "#/components/schemas/422Details"
            }
          }
        },
        "description" : "Error response containing validation details when request content cannot be processed due to semantic errors"
      },
      "TRANSACTIONDISPUTED" : {
        "title" : "TRANSACTION_DISPUTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates the transaction has been disputed by the cardholder or financial institution.",
            "enum" : [ "TRANSACTION_DISPUTED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating partial refunds are blocked due to an open dispute case requiring Resolution Center review.",
            "enum" : [ "Partial refunds cannot be offered at this time because there is an open case on this transaction. Visit the PayPal Resolution Center to review this case." ]
          }
        },
        "description" : "Transaction cannot be partially refunded due to an open dispute case in PayPal Resolution Center"
      },
      "PAYEEACCOUNTRESTRICTED1" : {
        "title" : "PAYEE_ACCOUNT_RESTRICTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payee's account has restrictions preventing the transaction from being processed.",
            "enum" : [ "PAYEE_ACCOUNT_RESTRICTED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the payee account has restrictions preventing normal transaction processing.",
            "enum" : [ "Payee account is restricted." ]
          }
        },
        "description" : "Indicates that the payee's account has restrictions preventing payment processing"
      },
      "PAYEEACCOUNTRESTRICTED2" : {
        "title" : "PAYEE_ACCOUNT_RESTRICTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the payee's account has restrictions preventing the transaction from being processed.",
            "enum" : [ "PAYEE_ACCOUNT_RESTRICTED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the payee account has restrictions preventing normal transaction processing.",
            "enum" : [ "Payee account is restricted." ]
          }
        },
        "description" : "Indicates that the payee's account has restrictions preventing transaction processing"
      },
      "Email" : {
        "maxLength" : 254,
        "minLength" : 3,
        "pattern" : "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])",
        "type" : "string",
        "description" : "The internationalized email address.<blockquote><strong>Note:</strong> Up to 64 characters are allowed before and 255 characters are allowed after the <code>@</code> sign. However, the generally accepted maximum length for an email address is 254 characters. The pattern verifies that an unquoted <code>@</code> sign exists.</blockquote>",
        "format" : "merchant_common_email_address_v2"
      },
      "AccountId" : {
        "title" : "PayPal Account Identifier",
        "maxLength" : 13,
        "minLength" : 13,
        "pattern" : "^[2-9A-HJ-NP-Z]{13}$",
        "type" : "string",
        "description" : "The account identifier for a PayPal account",
        "format" : "ppaas_payer_id_v3"
      },
      "REAUTHORIZATIONNOTSUPPORTED" : {
        "title" : "REAUTHORIZATION_NOT_SUPPORTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that reauthorization is not supported for this transaction or payment method.",
            "enum" : [ "REAUTHORIZATION_NOT_SUPPORTED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating reauthorization is not supported for this authorization type.",
            "enum" : [ "A reauthorize cannot be attempted on an authorization_id that is the result of a prior reauthorization or on an authorization made on an Order saved using the `v2/orders/id/save` API." ]
          }
        },
        "description" : "Error indicating reauthorization is not supported for previously reauthorized or saved order authorizations"
      },
      "AuthorizationAllOf2" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The PayPal-generated ID for the authorized payment.",
            "readOnly" : true
          },
          "amount" : {
            "$ref" : "#/components/schemas/Money"
          },
          "invoice_id" : {
            "type" : "string",
            "description" : "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
            "readOnly" : true
          },
          "custom_id" : {
            "maxLength" : 127,
            "type" : "string",
            "description" : "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports."
          },
          "network_transaction_reference" : {
            "$ref" : "#/components/schemas/NetworkTransactionReference"
          },
          "seller_protection" : {
            "$ref" : "#/components/schemas/SellerProtection"
          },
          "expiration_time" : {
            "$ref" : "#/components/schemas/DateTime"
          },
          "links" : {
            "type" : "array",
            "description" : "An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/LinkDescription"
            }
          }
        },
        "description" : "Contains authorization-specific details including ID, amount, invoice information, seller protection, expiration, and related links"
      },
      "REFUNDFAILEDINSUFFICIENTFUNDS" : {
        "title" : "REFUND_FAILED_INSUFFICIENT_FUNDS",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates a refund failure due to insufficient funds in the source account.",
            "enum" : [ "REFUND_FAILED_INSUFFICIENT_FUNDS" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Error message indicating refund failure due to insufficient funds in PayPal or linked bank account.",
            "enum" : [ "Capture could not be refunded due to insufficient funds. Please check to see if you have sufficient funds in your PayPal account or if the bank account linked to your PayPal account is verified and has sufficient funds." ]
          }
        },
        "description" : "Capture refund failed due to insufficient funds in PayPal account or linked bank account"
      },
      "AUTHORIZATIONALREADYCAPTURED" : {
        "title" : "AUTHORIZATION_ALREADY_CAPTURED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "description" : "Indicates that the authorization has already been captured and cannot be processed again.",
            "enum" : [ "AUTHORIZATION_ALREADY_CAPTURED" ]
          },
          "description" : {
            "type" : "string",
            "description" : "Indicates that the authorization has already been captured and cannot be processed again.",
            "enum" : [ "Authorization has previously been captured." ]
          }
        },
        "description" : "Authorization has already been captured and cannot be processed again"
      },
      "BadRequestErrorResponse" : {
        "description" : "HTTP 400 Bad Request error response containing error details and bad request information",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Error400"
        }, {
          "$ref" : "#/components/schemas/BadRequest"
        } ]
      },
      "AuthorizationStatus" : {
        "title" : "Authorization Status",
        "type" : "object",
        "properties" : {
[...]
