{
    "openapi": "3.0.3",
    "info": {
        "title": "Payments",
        "description": "Call the Payments API to authorize payments, capture authorized payments, refund payments that have already been captured, and show payment information. Use the Payments API in conjunction with the <a href=\"\/docs\/api\/orders\/v2\/\">Orders API<\/a>. For more information, see the <a href=\"\/docs\/checkout\/\">PayPal Checkout Overview<\/a>.",
        "contact": {},
        "version": "2.5"
    },
    "externalDocs": {
        "url": "https://developer.paypal.com/docs/api/payments/v2/"
    },
    "servers": [
        {
            "url": "https://api-m.sandbox.paypal.com/v2/payments",
            "description": "PayPal Sandbox Environment"
        },
        {
            "url": "https://api-m.paypal.com/v2/payments",
            "description": "PayPal Live Environment"
        }
    ],
    "tags": [
        {
            "name": "authorizations",
            "description": "Use the `/authorizations` resource to show details for, capture payment for, reauthorize, and void authorized payments."
        },
        {
            "name": "captures",
            "description": "Use the `/captures` resource to show details for and refund a captured payment."
        },
        {
            "name": "refunds",
            "description": "Use the `/refunds` resource to show refund details."
        },
        {
            "name": "assets",
            "description": "Assets APIs for Checkout"
        },
        {
            "name": "cancel-payment",
            "description": "Use the <code>/cancel-payment</code> resource to cancel an order capture or order authorization by <code>PayPal-Request-Id</code>. The merchant triggers the cancel action."
        },
        {
            "name": "find-eligible-methods",
            "description": "Use the `/find-eligible-methods` resource to show list of eligible payment methods for given customer/order context."
        },
        {
            "name": "payment-resource-operations",
            "description": "Use the `/payment-resource-operations` resource to show verifications details."
        }
    ],
    "paths": {
        "/authorizations/{authorizationId}": {
            "get": {
                "tags": [
                    "authorizations"
                ],
                "summary": "Show details for authorized payment",
                "description": "Shows details for an authorized payment, by ID.",
                "operationId": "authorizations.get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/authorization_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Authorization2"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/payment/authcapture"
                        ]
                    }
                ]
            }
        },
        "/authorizations/{authorizationId}/capture": {
            "post": {
                "tags": [
                    "authorizations"
                ],
                "summary": "Capture authorized payment",
                "description": "Captures an authorized payment, by ID.",
                "operationId": "authorizations.capture",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/authorization_id"
                    },
                    {
                        "$ref": "#/components/parameters/paypal_request_id"
                    },
                    {
                        "$ref": "#/components/parameters/prefer"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CaptureRequest"
                            },
                            "examples": {
                                "capture_request": {
                                    "value": {
                                        "amount": {
                                            "value": "10.99",
                                            "currency_code": "USD"
                                        },
                                        "invoice_id": "INVOICE-123",
                                        "final_capture": true,
                                        "note_to_payer": "If the ordered color is not available, we will substitute with a different color free of charge.",
                                        "soft_descriptor": "Bob's Custom Sweaters"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows captured payment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Capture2"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request failed because it is semantically incorrect or failed business validation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableContentError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/payment/authcapture"
                        ]
                    }
                ]
            }
        },
        "/authorizations/{authorizationId}/reauthorize": {
            "post": {
                "tags": [
                    "authorizations"
                ],
                "summary": "Reauthorize authorized payment",
                "description": "Reauthorizes an authorized PayPal account payment, by ID. To ensure that funds are still available, reauthorize a payment after its initial three-day honor period expires. Within the 29-day authorization period, you can issue multiple re-authorizations after the honor period expires.<br/><br/>If 30 days have transpired since the date of the original authorization, you must create an authorized payment instead of reauthorizing the original authorized payment.<br/><br/>A reauthorized payment itself has a new honor period of three days.<br/><br/>You can reauthorize an authorized payment from 4 to 29 days after the 3-day honor period. The allowed amount depends on context and geography, for example in US it is up to 115% of the original authorized amount, not to exceed an increase of $75 USD.<br/><br/>Supports only the `amount` request parameter.<blockquote><strong>Note:</strong> This request is currently not supported for Partner use cases.</blockquote>",
                "operationId": "authorizations.reauthorize",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/authorization_id"
                    },
                    {
                        "$ref": "#/components/parameters/paypal_request_id"
                    },
                    {
                        "$ref": "#/components/parameters/prefer"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReauthorizeRequest"
                            },
                            "examples": {
                                "reauthorize_request": {
                                    "value": {
                                        "amount": {
                                            "value": "10.99",
                                            "currency_code": "USD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows the reauthorized payment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Authorization2"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationReauthorizeErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request failed because it either is semantically incorrect or failed business validation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationReauthorizeError422Response"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/payment/authcapture"
                        ]
                    }
                ]
            }
        },
        "/authorizations/{authorizationId}/void": {
            "post": {
                "tags": [
                    "authorizations"
                ],
                "summary": "Void authorized payment",
                "description": "Voids, or cancels, an authorized payment, by ID. You cannot void an authorized payment that has been fully captured.",
                "operationId": "authorizations.void",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/authorization_id"
                    },
                    {
                        "$ref": "#/components/parameters/paypal_auth_assertion"
                    },
                    {
                        "$ref": "#/components/parameters/prefer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details. This response is returned when the Prefer header is set to return=representation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Authorization2"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "A successful request returns the HTTP <code>204 No Content</code> status code with no JSON response body. This response is returned when the Prefer header is set to return=minimal."
                    },
                    "400": {
                        "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The request failed because a previous call for the given resource is in progress.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConflictErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request failed because it either is semantically incorrect or failed business validation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationVoidValidationError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/payment/authcapture"
                        ]
                    }
                ]
            }
        },
        "/captures/{captureId}": {
            "get": {
                "tags": [
                    "captures"
                ],
                "summary": "Show captured payment details",
                "description": "Shows details for a captured payment, by ID.",
                "operationId": "captures.get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/capture_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows captured payment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Capture2"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/payment/authcapture"
                        ]
                    }
                ]
            }
        },
        "/captures/{captureId}/refund": {
            "post": {
                "tags": [
                    "captures"
                ],
                "summary": "Refund captured payment",
                "description": "Refunds a captured payment, by ID. For a full refund, include an empty payload in the JSON request body. For a partial refund, include an <code>amount</code> object in the JSON request body.",
                "operationId": "captures.refund",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/capture_id"
                    },
                    {
                        "$ref": "#/components/parameters/paypal_request_id"
                    },
                    {
                        "$ref": "#/components/parameters/prefer"
                    },
                    {
                        "$ref": "#/components/parameters/paypal_auth_assertion"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefundRequest"
                            },
                            "examples": {
                                "refund_request": {
                                    "value": {
                                        "amount": {
                                            "value": "10.00",
                                            "currency_code": "USD"
                                        },
                                        "invoice_id": "INVOICE-123",
                                        "note_to_payer": "DefectiveProduct",
                                        "payment_instruction": {
                                            "platform_fees": [
                                                {
                                                    "amount": {
                                                        "currency_code": "USD",
                                                        "value": "1.00"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows refund details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Refund"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CapturesRefundError400Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The request failed because a previous call for the given resource is in progress.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConflictErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request failed because it either is semantically incorrect or failed business validation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CapturesRefundValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/refund"
                        ]
                    }
                ]
            }
        },
        "/refunds/{refundId}": {
            "get": {
                "tags": [
                    "refunds"
                ],
                "summary": "Show refund details",
                "description": "Shows details for a refund, by ID.",
                "operationId": "refunds.get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/refund_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows refund details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Refund"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the caller has insufficient permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenAccessErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request failed because the resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because an internal server error occurred."
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://uri.paypal.com/services/payments/refund"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Error503": {
                "title": "Service Unavailable Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "SERVICE_UNAVAILABLE"
                        ],
                        "description": "Error type identifier indicating the service is temporarily unavailable."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "Service Unavailable."
                        ],
                        "description": "Error message indicating the service is temporarily unavailable."
                    }
                },
                "description": "The server is temporarily unable to handle the request, for example, because of planned maintenance or downtime",
                "example": {
                    "name": "SERVICE_UNAVAILABLE",
                    "message": "Service Unavailable.",
                    "debug_id": "90957fca61718",
                    "information_link": "https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE"
                }
            },
            "INVALIDPARAMETERSYNTAX": {
                "title": "INVALID_PARAMETER_SYNTAX",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "INVALID_PARAMETER_SYNTAX"
                        ],
                        "description": "Indicates that the request contains a parameter with invalid syntax formatting."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "The value of a field does not conform to the expected format."
                        ],
                        "description": "Error message indicating a field value does not match the required format or syntax rules."
                    }
                },
                "description": "Error indicating a field value does not match the required format or syntax rules."
            },
            "ErrorLocation": {
                "type": "string",
                "description": "The location of the field that caused the error. Value is `body`, `path`, or `query`",
                "default": "body",
                "enum": [
                    "body",
                    "path",
                    "query"
                ]
            },
            "SupplementaryPurchaseData": {
                "title": "Capture Identifier",
                "type": "object",
                "properties": {
                    "invoice_id": {
                        "maxLength": 127,
                        "minLength": 1,
                        "pattern": "^.{1,127}$",
                        "type": "string",
                        "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives",
                        "x-ballerina-name-ignore": "invoiceId"
                    },
                    "note_to_payer": {
                        "maxLength": 255,
                        "minLength": 1,
                        "pattern": "^.{1,255}$",
                        "type": "string",
                        "description": "An informational note about this settlement. Appears in both the payer's transaction history and the emails that the payer receives",
                        "x-ballerina-name-ignore": "noteToPayer"
                    }
                },
                "description": "The capture identification-related fields. Includes the invoice ID, custom ID, note to payer, and soft descriptor"
            },
            "Conflict": {
                "properties": {
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/409Details"
                        },
                        "description": "Array of detailed conflict information explaining specific issues that caused the 409 error."
                    }
                },
                "description": "A conflict response containing an array of detailed error information about resource conflicts."
            },
            "CardBrand": {
                "title": "Card Brand",
                "maxLength": 255,
                "minLength": 1,
                "pattern": "^[A-Z_]+$",
                "type": "string",
                "description": "The card network or brand. Applies to credit, debit, gift, and payment cards",
                "enum": [
                    "VISA",
                    "MASTERCARD",
                    "DISCOVER",
                    "AMEX",
                    "SOLO",
                    "JCB",
                    "STAR",
                    "DELTA",
                    "SWITCH",
                    "MAESTRO",
                    "CB_NATIONALE",
                    "CONFIGOGA",
                    "CONFIDIS",
                    "ELECTRON",
                    "CETELEM",
                    "CHINA_UNION_PAY"
                ]
            },
            "Not_Found": {
                "properties": {
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/404Details"
                        },
                        "description": "Array of detailed information about the 404 not found error conditions."
                    }
                },
                "description": "Response schema for 404 Not Found errors containing an array of detailed error information."
            },
            "REFUNDAMOUNTEXCEEDED": {
                "title": "REFUND_AMOUNT_EXCEEDED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "REFUND_AMOUNT_EXCEEDED"
                        ],
                        "description": "Indicates that the refund amount requested exceeds the maximum allowed limit."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "The refund amount must be less than or equal to the capture amount that has not yet been refunded."
                        ],
                        "description": "Error message indicating the refund amount exceeds the available refundable capture amount."
                    }
                },
                "description": "Refund amount exceeds the available capture amount that hasn't been refunded yet."
            },
            "Forbidden": {
                "properties": {
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/403Details"
                        },
                        "description": "Array of detailed information about the forbidden access error conditions."
                    }
                },
                "description": "HTTP 403 Forbidden error response containing an array of detailed error information."
            },
            "DateTime": {
                "maxLength": 64,
                "minLength": 20,
                "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$",
                "type": "string",
                "description": "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong> The regular expression provides guidance but does not reject all invalid dates.</blockquote>",
                "format": "ppaas_date_time_v3"
            },
            "Capture": {
                "title": "Capture",
                "type": "object",
                "description": "A captured payment",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CaptureStatus"
                    },
                    {
                        "$ref": "#/components/schemas/CaptureAllOf2"
                    },
                    {
                        "$ref": "#/components/schemas/ActivityTimestamps"
                    }
                ]
            },
            "Unauthorized": {
                "properties": {
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/401Details"
                        },
                        "description": "Array of detailed error information for unauthorized access attempts."
                    }
                },
                "description": "Response indicating unauthorized access with detailed error information."
            },
            "CurrencyCode": {
                "maxLength": 3,
                "minLength": 3,
                "type": "string",
                "description": "The [three-character ISO-4217 currency code](/api/rest/reference/currency-codes/) that identifies the currency",
                "format": "ppaas_common_currency_code_v2"
            },
            "Bad_Request": {
                "properties": {
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/400Details"
                        },
                        "description": "Array of detailed error information providing specific validation or request processing issues."
                    }
                },
                "description": "Contains detailed information about validation errors or malformed request parameters."
            },
            "PARTIALREFUNDNOTALLOWED": {
                "title": "PARTIAL_REFUND_NOT_ALLOWED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PARTIAL_REFUND_NOT_ALLOWED"
                        ],
                        "description": "Indicates that partial refunds are not permitted for this transaction or payment method."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "You cannot do a refund less than the original capture amount."
                        ],
                        "description": "Error message indicating partial refunds are not permitted; only full refund amounts allowed."
                    }
                },
                "description": "Indicates that partial refunds are not permitted; only full refunds matching the original capture amount are allowed."
            },
            "Error500": {
                "title": "Internal Server Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "INTERNAL_SERVER_ERROR"
                        ],
                        "description": "Error name identifier indicating an internal server error occurred."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "An internal server error occurred."
                        ],
                        "description": "Error message indicating an internal server error has occurred on the server."
                    }
                },
                "description": "This is either a system or application error, and generally indicates that although the client appeared to provide a correct request, something unexpected has gone wrong on the server",
                "example": {
                    "name": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred.",
                    "debug_id": "90957fca61718",
                    "links": [
                        {
                            "href": "https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR",
                            "rel": "information_link"
                        }
                    ]
                }
            },
            "DECIMALPRECISION2": {
                "title": "DECIMAL_PRECISION",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "DECIMAL_PRECISION"
                        ],
                        "description": "Indicates a decimal precision validation issue with the fixed value \"DECIMAL_PRECISION\"."
                    },
                    "description": {
                        "type": "string",
                        "description": "A string value representing a decimal number with precision limited to 2 decimal places."
                    }
                },
                "description": "Validation issue indicating incorrect decimal precision formatting or configuration."
            },
            "DECIMALPRECISION1": {
                "title": "DECIMAL_PRECISION",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "DECIMAL_PRECISION"
                        ],
                        "description": "Identifies a decimal precision issue with the value \"DECIMAL_PRECISION\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "If the currency supports decimals, only two decimal place precision is supported."
                        ],
                        "description": "Indicates that currencies supporting decimals are limited to two decimal places only."
                    }
                },
                "description": "Validates that decimal currencies use only two decimal place precision."
            },
            "CURRENCYMISMATCH": {
                "title": "CURRENCY_MISMATCH",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "CURRENCY_MISMATCH"
                        ],
                        "description": "Indicates a currency mismatch error when currencies don't align between related transactions."
                    },
                    "description": {
                        "type": "string",
                        "description": "A descriptive message explaining the currency mismatch error or providing additional context."
                    }
                },
                "description": "Error indicating a mismatch between expected and provided currency codes in the transaction."
            },
            "RefundStatus": {
                "title": "Refund Status",
                "type": "object",
                "properties": {
                    "status_details": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RefundStatusDetails"
                            }
                        ],
                        "x-ballerina-name-ignore": "statusDetails",
                        "description": "Additional details and context information related to the current refund status."
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the refund",
                        "readOnly": true,
                        "enum": [
                            "CANCELLED",
                            "FAILED",
                            "PENDING",
                            "COMPLETED"
                        ]
                    }
                },
                "description": "The refund status"
            },
            "REFUNDNOTPERMITTEDDUETOCHARGEBACK": {
                "title": "REFUND_NOT_PERMITTED_DUE_TO_CHARGEBACK",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "REFUND_NOT_PERMITTED_DUE_TO_CHARGEBACK"
                        ],
                        "description": "Indicates that a refund cannot be processed because a chargeback has been initiated for this transaction."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Refunds are not allowed on this capture due to a chargeback on the card or bank. Please contact the payee to resolve the chargeback."
                        ],
                        "description": "Indicates refunds are blocked due to a chargeback on the payment method requiring payee contact."
                    }
                },
                "description": "Refunds are not allowed on this capture due to a chargeback on the card or bank."
            },
            "INVALIDPARAMETERSYNTAX1": {
                "title": "INVALID_PARAMETER_SYNTAX",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "INVALID_PARAMETER_SYNTAX"
                        ],
                        "description": "Indicates a parameter syntax validation error with the fixed value \"INVALID_PARAMETER_SYNTAX\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "The value of a field does not conform to the expected format."
                        ],
                        "description": "Error message indicating a field value does not match the required format or syntax rules."
                    }
                },
                "description": "Error indicating a field value does not conform to the expected format or syntax requirements."
            },
            "Authorizationsreauthorize400Details": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/MISSINGREQUIREDPARAMETER1"
                    },
                    {
                        "$ref": "#/components/schemas/INVALIDSTRINGLENGTH1"
                    },
                    {
                        "$ref": "#/components/schemas/INVALIDSTRINGMAXLENGTH1"
                    },
                    {
                        "$ref": "#/components/schemas/INVALIDPARAMETERSYNTAX1"
                    }
                ],
                "description": "Error details for authorization reauthorization 400 responses including missing, invalid length, or syntax parameter errors."
            },
            "PLATFORMFEEEXCEEDED": {
                "title": "PLATFORM_FEE_EXCEEDED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PLATFORM_FEE_EXCEEDED"
                        ],
                        "description": "Indicates that the platform fee has exceeded the allowed limit or threshold."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Platform fee amount specified exceeds the amount that is available for refund. You can only refund up to the available platform fee amount. This error is also returned when no platform_fee was specified or was zero when the payment was captured."
                        ],
                        "description": "Error when platform fee refund amount exceeds available refund balance or no fee was originally captured."
                    }
                },
                "description": "Platform fee refund amount exceeds available balance or no platform fee was originally captured."
            },
            "INVALIDPARAMETERSYNTAX2": {
                "title": "INVALID_PARAMETER_SYNTAX",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "INVALID_PARAMETER_SYNTAX"
                        ],
                        "description": "Indicates a parameter syntax validation error with the fixed value \"INVALID_PARAMETER_SYNTAX\"."
                    },
                    "description": {
                        "type": "string",
                        "description": "A descriptive message explaining the invalid parameter syntax error encountered."
                    }
                },
                "description": "Error indicating a parameter has invalid syntax format with descriptive details."
            },
            "INVALIDRESOURCEID": {
                "title": "INVALID_RESOURCE_ID",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "INVALID_RESOURCE_ID"
                        ],
                        "description": "Indicates the specific validation error type when a resource identifier is invalid or not found."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Specified resource ID does not exist. Please check the resource ID and try again."
                        ],
                        "description": "Error message indicating the specified resource ID does not exist and requires verification."
                    }
                },
                "description": "Error response indicating the specified resource ID does not exist or is invalid."
            },
            "TRANSACTIONREFUSED2": {
                "title": "TRANSACTION_REFUSED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "TRANSACTION_REFUSED"
                        ],
                        "description": "Indicates the transaction was refused, with the fixed value \"TRANSACTION_REFUSED\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "PayPal's internal controls prevent authorization from being captured."
                        ],
                        "description": "PayPal's internal controls prevent authorization from being captured."
                    }
                },
                "description": "Transaction refused due to PayPal's internal controls preventing authorization capture."
            },
            "Capture2": {
                "title": "Capture",
                "type": "object",
                "description": "A captured payment",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Capture"
                    },
                    {
                        "$ref": "#/components/schemas/Capture2AllOf2"
                    }
                ]
            },
            "Capture2AllOf2": {
                "properties": {
                    "supplementary_data": {
                        "$ref": "#/components/schemas/SupplementaryData"
                    },
                    "payee": {
                        "$ref": "#/components/schemas/PayeeBase"
                    }
                },
                "description": "Contains supplementary data and payee information for capture processing."
            },
            "Refund": {
                "title": "Refund",
                "type": "object",
                "description": "The refund information",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RefundStatus"
                    },
                    {
                        "$ref": "#/components/schemas/RefundAllOf2"
                    },
                    {
                        "$ref": "#/components/schemas/ActivityTimestamps"
                    }
                ]
            },
            "AuthorizationReauthorizeErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Error400"
                    },
                    {
                        "$ref": "#/components/schemas/AuthorizationsReauthorize400"
                    }
                ],
                "description": "Error response returned when authorization reauthorization request fails with a 400 Bad Request status."
            },
            "CapturesRefundError400Response": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Error400"
                    },
                    {
                        "$ref": "#/components/schemas/CapturesRefund400"
                    }
                ]
            },
            "TRANSACTIONREFUSED": {
                "title": "TRANSACTION_REFUSED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "TRANSACTION_REFUSED"
                        ],
                        "description": "Indicates that a transaction was refused, with the fixed value \"TRANSACTION_REFUSED\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "PayPal's internal controls prevent authorization from being captured."
                        ],
                        "description": "PayPal's internal controls prevent authorization from being captured."
                    }
                },
                "description": "PayPal's internal controls prevent authorization from being captured."
            },
            "CaptureStatus": {
                "title": "Capture Status",
                "type": "object",
                "properties": {
                    "status_details": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CaptureStatusDetails"
                            }
                        ],
                        "x-ballerina-name-ignore": "statusDetails",
                        "description": "Additional details and context information about the current capture status."
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the captured payment",
                        "readOnly": true,
                        "enum": [
                            "COMPLETED",
                            "DECLINED",
                            "PARTIALLY_REFUNDED",
                            "PENDING",
                            "REFUNDED",
                            "FAILED"
                        ]
                    }
                },
                "description": "The status of a captured payment"
            },
            "MAXNUMBEROFREFUNDSEXCEEDED": {
                "title": "MAX_NUMBER_OF_REFUNDS_EXCEEDED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "MAX_NUMBER_OF_REFUNDS_EXCEEDED"
                        ],
                        "description": "Indicates that the maximum allowed number of refunds for this transaction has been exceeded."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "You have exceeded the maximum number of refund attempts for this capture."
                        ],
                        "description": "Error message indicating the maximum number of refund attempts has been exceeded for a capture."
                    }
                },
                "description": "Error indicating the maximum allowed number of refund attempts for a capture has been exceeded."
            },
            "PREVIOUSREQUESTINPROGRESS": {
                "title": "PREVIOUS_REQUEST_IN_PROGRESS",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PREVIOUS_REQUEST_IN_PROGRESS"
                        ],
                        "description": "Indicates that a previous request is still being processed and must complete before a new request can be initiated."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "A previous request on this resource is currently in progress. Please wait for sometime and try again. It is best to space out the initial and the subsequent request(s) to avoid receiving this error."
                        ],
                        "description": "Error message indicating a previous request is still processing and to retry after waiting."
                    }
                },
                "description": "A previous request on this resource is in progress. Wait and retry with spaced intervals."
            },
            "Error404": {
                "title": "Not found Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "RESOURCE_NOT_FOUND"
                        ],
                        "description": "Error type identifier indicating the requested resource could not be found."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Array of detailed error information providing specific context about the 404 not found error."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "The specified resource does not exist."
                        ],
                        "description": "Error message indicating the requested resource could not be found on the server."
                    }
                },
                "description": "The server has not found anything matching the request URI. This either means that the URI is incorrect or the resource is not available"
            },
            "SupplementaryData": {
                "title": "Supplementary Data",
                "type": "object",
                "properties": {
                    "related_ids": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RelatedIds"
                            }
                        ],
                        "x-ballerina-name-ignore": "relatedIds",
                        "description": "Array of identifiers linking this supplementary data to related entities or records."
                    }
                },
                "description": "The supplementary data"
            },
            "Error409": {
                "title": "Resource Conflict Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "RESOURCE_CONFLICT"
                        ],
                        "description": "Error type identifier indicating a resource conflict has occurred."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Array of detailed error information providing specific context about the conflict condition."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "The server has detected a conflict while processing this request."
                        ],
                        "description": "A standard conflict error message indicating the server detected a request processing conflict."
                    }
                },
                "description": "The server has detected a conflict while processing this request"
            },
            "PAYERCANNOTPAY": {
                "title": "PAYER_CANNOT_PAY",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PAYER_CANNOT_PAY"
                        ],
                        "description": "Indicates that the payer is unable to complete the payment transaction."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Payer cannot pay for this transaction. Please contact the payer to find other ways to pay for this transaction."
                        ],
                        "description": "Standard message indicating the payer cannot complete the transaction and should be contacted for alternative payment methods."
                    }
                },
                "description": "Indicates the payer lacks sufficient funds or means to complete the transaction payment."
            },
            "ReauthorizeRequest": {
                "title": "Reauthorize Request",
                "type": "object",
                "properties": {
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    }
                },
                "description": "Reauthorizes an authorized PayPal account payment, by ID. To ensure that funds are still available, reauthorize a payment after its initial three-day honor period expires. You can reauthorize a payment only once from days four to 29.<br/><br/>If 30 days have transpired since the date of the original authorization, you must create an authorized payment instead of reauthorizing the original authorized payment.<br/><br/>A reauthorized payment itself has a new honor period of three days.<br/><br/>You can reauthorize an authorized payment once. The allowed amount depends on context and geography, for example in US it is up to 115% of the original authorized amount, not to exceed an increase of $75 USD.<br/><br/>Supports only the `amount` request parameter.<blockquote><strong>Note:</strong> This request is currently not supported for Partner use cases.</blockquote>"
            },
            "UnauthorizedErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Error401"
                    },
                    {
                        "$ref": "#/components/schemas/Unauthorized"
                    }
                ],
                "description": "Error response returned when the request lacks valid authentication credentials (HTTP 401)."
            },
            "BadRequestErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Error400"
                    },
                    {
                        "$ref": "#/components/schemas/Bad_Request"
                    }
                ],
                "description": "HTTP 400 Bad Request error response containing error details and bad request information."
            },
            "ErrorDetails": {
                "title": "Error Details",
                "required": [
                    "issue"
                ],
                "type": "object",
                "properties": {
                    "field": {
                        "type": "string",
                        "description": "The field that caused the error. If this field is in the body, set this value to the field's JSON pointer value. Required for client-side errors"
                    },
                    "issue": {
                        "type": "string",
                        "description": "The unique, fine-grained application-level error code"
                    },
                    "description": {
                        "type": "string",
                        "description": "The human-readable description for an issue. The description can change over the lifetime of an API, so clients must not depend on this value"
                    },
                    "location": {
                        "$ref": "#/components/schemas/ErrorLocation"
                    },
                    "value": {
                        "type": "string",
                        "description": "The value of the field that caused the error"
                    }
                },
                "description": "The error details. Required for client-side `4XX` errors"
            },
            "ForbiddenAccessErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Error403"
                    },
                    {
                        "$ref": "#/components/schemas/Forbidden"
                    }
                ],
                "description": "Error response returned when access to a resource is forbidden due to insufficient permissions."
            },
            "INVALIDACCOUNTSTATUS": {
                "title": "INVALID_ACCOUNT_STATUS",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "INVALID_ACCOUNT_STATUS"
                        ],
                        "description": "Indicates an invalid account status error with the value \"INVALID_ACCOUNT_STATUS\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Account validations failed for the user."
                        ],
                        "description": "Account validation failure message indicating the user's account status is invalid."
                    }
                },
                "description": "Account validation error indicating the user's account status is invalid or does not meet requirements."
            },
            "NotFoundErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Error404"
                    },
                    {
                        "$ref": "#/components/schemas/Not_Found"
                    }
                ],
                "description": "Standard HTTP 404 error response indicating the requested resource could not be found."
            },
            "Authorization": {
                "title": "Authorization",
                "type": "object",
                "description": "The authorized payment transaction",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthorizationStatus"
                    },
                    {
                        "$ref": "#/components/schemas/AuthorizationAllOf2"
                    },
                    {
                        "$ref": "#/components/schemas/ActivityTimestamps"
                    }
                ]
            },
            "AUTHORIZATIONALREADYCAPTURED1": {
                "title": "AUTHORIZATION_ALREADY_CAPTURED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "AUTHORIZATION_ALREADY_CAPTURED"
                        ],
                        "description": "Indicates that the authorization has already been captured and cannot be processed again."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Authorization has previously been captured."
                        ],
                        "description": "Indicates that the authorization has already been captured and cannot be processed again."
                    }
                },
                "description": "Error indicating that the payment authorization has already been captured and cannot be processed again."
            },
            "REFUNDNOTALLOWED": {
                "title": "REFUND_NOT_ALLOWED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "REFUND_NOT_ALLOWED"
                        ],
                        "description": "Indicates that a refund is not permitted for this transaction or item."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Capture cannot be refunded."
                        ],
                        "description": "Indicates that the captured payment cannot be refunded due to policy restrictions."
                    }
                },
                "description": "Indicates that a captured payment cannot be refunded due to transaction restrictions."
            },
            "TRANSACTIONREFUSED1": {
                "title": "TRANSACTION_REFUSED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "TRANSACTION_REFUSED"
                        ],
                        "description": "Indicates that the transaction was refused, with the fixed value \"TRANSACTION_REFUSED\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "PayPal's internal controls prevent authorization from being captured."
                        ],
                        "description": "PayPal's internal controls prevent authorization from being captured."
                    }
                },
                "description": "Transaction refused due to PayPal's internal controls preventing authorization capture."
            },
            "SellerReceivableBreakdown": {
                "title": "Seller Receivable Breakdown",
                "required": [
                    "gross_amount"
                ],
                "type": "object",
                "properties": {
                    "platform_fees": {
                        "maxItems": 1,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of platform or partner fees, commissions, or brokerage fees that associated with the captured payment",
                        "items": {
                            "$ref": "#/components/schemas/PlatformFee"
                        },
                        "x-ballerina-name-ignore": "platformFees"
                    },
                    "exchange_rate": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ExchangeRate"
                            }
                        ],
                        "x-ballerina-name-ignore": "exchangeRate",
                        "description": "Exchange rate applied to convert currency amounts in the seller receivable breakdown."
                    },
                    "paypal_fee": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "x-ballerina-name-ignore": "paypalFee",
                        "description": "The PayPal fee amount deducted from the transaction, expressed as a monetary value."
                    },
                    "gross_amount": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "x-ballerina-name-ignore": "grossAmount",
                        "description": "The total gross amount before deductions, represented as a monetary value."
                    },
                    "paypal_fee_in_receivable_currency": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "x-ballerina-name-ignore": "paypalFeeInReceivableCurrency",
                        "description": "The PayPal fee amount expressed in the receivable currency for this seller transaction."
                    },
                    "net_amount": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "x-ballerina-name-ignore": "netAmount",
                        "description": "The net amount due to the seller after deducting fees and adjustments from the total receivable."
                    },
                    "receivable_amount": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "x-ballerina-name-ignore": "receivableAmount",
                        "description": "Amount due to the seller, representing the total receivable in monetary terms."
                    }
                },
                "description": "The detailed breakdown of the capture activity. This is not available for transactions that are in pending state"
            },
            "PAYEEACCOUNTLOCKEDORCLOSED": {
                "title": "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PAYEE_ACCOUNT_LOCKED_OR_CLOSED"
                        ],
                        "description": "Indicates that the payee's account is either locked or closed, preventing transaction completion."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Transaction could not complete because payee account is locked or closed."
                        ],
                        "description": "Indicates that the transaction failed because the payee's account is locked or closed."
                    }
                },
                "description": "Transaction cannot complete due to payee account being locked or closed."
            },
            "AUTHORIZATIONVOIDED": {
                "title": "AUTHORIZATION_VOIDED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "AUTHORIZATION_VOIDED"
                        ],
                        "description": "Indicates that an authorization has been voided, with the fixed value \"AUTHORIZATION_VOIDED\"."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "A voided authorization cannot be captured or reauthorized. "
                        ],
                        "description": "Status message indicating an authorization has been voided and cannot be captured or reauthorized."
                    }
                },
                "description": "A voided authorization cannot be captured or reauthorized."
            },
            "MISSINGREQUIREDPARAMETER1": {
                "title": "MISSING_REQUIRED_PARAMETER",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "MISSING_REQUIRED_PARAMETER"
                        ],
                        "description": "Indicates that a required parameter was not provided in the request."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "A required field / parameter is missing."
                        ],
                        "description": "Error message indicating that a mandatory field or parameter was not provided in the request."
                    }
                },
                "description": "Error indicating a required field or parameter was not provided in the request."
            },
            "PAYERACCOUNTLOCKEDORCLOSED1": {
                "title": "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PAYER_ACCOUNT_LOCKED_OR_CLOSED"
                        ],
                        "description": "Indicates that the payer's account is either locked or closed, preventing transaction processing."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "The payer account cannot be used for this transaction."
                        ],
                        "description": "Account is locked or closed and cannot be used for this transaction."
                    }
                },
                "description": "Indicates the payer's account is locked or closed and cannot be used for the transaction."
            },
            "PAYERACCOUNTLOCKEDORCLOSED2": {
                "title": "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PAYER_ACCOUNT_LOCKED_OR_CLOSED"
                        ]
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "The payer account cannot be used for this transaction."
                        ],
                        "description": "The payer account cannot be used for this transaction."
                    }
                },
                "description": "Indicates the payer's account is locked or closed and cannot be used for the transaction."
            },
            "DECIMALSNOTSUPPORTED": {
                "title": "DECIMALS_NOT_SUPPORTED",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "DECIMALS_NOT_SUPPORTED"
                        ],
                        "description": "Error code indicating that decimal values are not supported in this context."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Currency does not support decimals. Please refer to https://developer.paypal.com/docs/api/reference/currency-codes/ for more information."
                        ],
                        "description": "Error message indicating the currency does not support decimal values with reference link."
                    }
                },
                "description": "Error indicating the specified currency does not support decimal values in monetary amounts."
            },
            "MISSINGREQUIREDPARAMETER2": {
                "title": "MISSING_REQUIRED_PARAMETER",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "MISSING_REQUIRED_PARAMETER"
                        ],
                        "description": "Indicates that a required parameter is missing from the request."
                    },
                    "description": {
                        "type": "string",
                        "description": "A descriptive text explaining the missing required parameter and its expected usage."
                    }
                },
                "description": "Error indicating a required parameter was not provided in the API request."
            },
            "Error400": {
                "title": "Bad Request Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "INVALID_REQUEST"
                        ],
                        "description": "Error code indicating the request contains invalid parameters or formatting."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Array of detailed error information providing specific context about validation or request issues."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "Request is not well-formed, syntactically incorrect, or violates schema."
                        ],
                        "description": "Error message indicating the request is malformed, syntactically incorrect, or violates schema."
                    }
                },
                "description": "Request is not well-formed, syntactically incorrect, or violates schema"
            },
            "Error401": {
                "title": "Unauthorized Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "AUTHENTICATION_FAILURE"
                        ],
                        "description": "Error code indicating authentication credentials are missing, invalid, or expired."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Array of detailed error information providing specific context about the 401 authentication failure."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "Authentication failed due to missing authorization header, or invalid authentication credentials."
                        ],
                        "description": "Error message indicating authentication failure due to missing or invalid credentials."
                    }
                },
                "description": "Authentication failed due to missing Authorization header, or invalid authentication credentials"
            },
            "PAYERCANNOTPAY1": {
                "title": "PAYER_CANNOT_PAY",
                "properties": {
                    "issue": {
                        "type": "string",
                        "enum": [
                            "PAYER_CANNOT_PAY"
                        ],
                        "description": "Indicates the payer is unable to complete the payment transaction."
                    },
                    "description": {
                        "type": "string",
                        "enum": [
                            "Payer cannot pay for this transaction. Please contact the payer to find other ways to pay for this transaction."
                        ],
                        "description": "Indicates payer is unable to complete the transaction and requires alternative payment methods."
                    }
                },
                "description": "Indicates the payer cannot complete the transaction and should be contacted for alternative payment methods."
            },
            "Error403": {
                "title": "Not Authorized Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "NOT_AUTHORIZED"
                        ],
                        "description": "Error code indicating the user is not authorized to perform the requested action."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Array of detailed error information providing specific context about the 403 Forbidden error."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
                        "type": "array",
                        "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS)",
                        "items": {
                            "$ref": "#/components/schemas/ErrorLinkDescription"
                        }
                    },
                    "message": {
                        "type": "string",
                        "enum": [
                            "Authorization failed due to insufficient permissions."
                        ],
                        "description": "Error message indicating the request failed due to insufficient user permissions."
                    }
                },
                "description": "The client is not authorized to access this resource, although it may have valid credentials. "
            },
            "Error415": {
                "title": "Unsupported Media Type Error",
                "type": "object",
                "properties": {
                    "debug_id": {
                        "type": "string",
                        "description": "The PayPal internal ID. Used for correlation purposes",
                        "x-ballerina-name-ignore": "debugId"
                    },
                    "name": {
                        "type": "string",
                        "enum": [
                            "UNSUPPORTED_MEDIA_TYPE"
                        ],
                        "description": "Error type identifier indicating the request media type is not supported by the server."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Array of detailed error information providing specific context about the 415 Unsupported Media Type error."
                    },
                    "links": {
                        "maxItems": 10000,
                        "minItems": 0,
[...]
